
<section class="small-title">
    <h2>Cancer</h2>
</section>

<section class="small-title">
    <h3>1. Causes of Cancer  </h3>
    <p class="p-content p-content-sm">
        Viruses are the cause of cancer in humans and other species. Cancer caused by viruses occurs in only a small number of people (or animals) who are infected. Cancer viruses come from a wide range of virus families, including RNA and DNA viruses, and therefore do not have a single "oncovirus" (an obsolete term originally used to refer to retroviruses). drastic change).
    </p>
    <p class="p-content p-content-sm">
        Cancer development is determined by many factors such as host immunity [194] and host mutations. [195] Viruses that are accepted to cause cancer in humans include several genotypes of the human papillomavirus, hepatitis B virus, hepatitis C virus, Epstein-Barr virus, and herpesvirus. associated with Kaposi's sarcoma and human T-lymphocyte virus.
    </p>
    <p class="p-content p-content-sm">
        The most recently discovered cancer virus in humans is a multinucleated virus (Merkel cell polyomavirus) that causes most cases of a rare form of skin cancer called Merkel cell carcinoma. . [196] Viral hepatitis can develop into a chronic viral infection leading to liver cancer. [197] [198] Infection by human T-lymphocyte virus can lead to tropical spasticity and adult T-cell leukemia.
    </p>
    <p class="p-content p-content-sm">
    Human papillomavirus is the main cause of cancers of the cervix, skin, anus, and penis. [200] In the Herpesviridae family, Kaposi sarcoma-related herpesviruses cause Kaposi sarcoma and body cavity lymphoma, and Epstein-Barr virus causes Burkitt lymphoma, Hodgkin lymphoma, and lymphoproliferative disorders. B and nasopharyngeal carcinoma. [201] Merkel cell polyomavirus virus is closely related to SV40, and murine polyomavirus has been used as an animal model for cancer viruses for more than 50 years. [202]
    </p>


</section>

