<section class="small-title">
    <h2>Phân loại virus</h2>
    <p class="p-content p-content-sm">Phân loại virus tìm cách mô tả tính đa dạng của virus bằng cách đặt tên và nhóm chúng dựa trên cơ sở là những điểm tương đồng. Năm 1962, André Lwoff, Robert Horne, và Paul Tournier là những người đầu tiên phát triển một phương pháp phân loại virus, dựa trên hệ thống thứ bậc của Linnaeus.[119] Hệ thống này tạo cơ sở cho sự phân loại theo ngành, lớp, bộ, họ, chi và loài. Virus được nhóm lại dựa theo những thuộc tính chung của chúng (mà không phải của vật chủ) và loại axít nucleic tạo nên bộ gen.[120] Về sau, Ủy ban Quốc tế về Phân loại Virus được thành lập. Tuy nhiên, virus không được phân loại theo ngành hay lớp, do bộ gen có kích thước nhỏ và tỷ lệ đột biến cao khiến chúng khó xác định tổ tiên ở trên cấp Bộ. Vì vậy, hệ thống phân loại Baltimore đã được sử dụng để bổ sung thay thế cho các cấp bậc truyền thống này.</p>
</section>
 
    <section class="small-title">
        <h3>1.Hệ thống phân loại Baltimore</h3>

        <p class="p-content p-content-sm">
            Nhà sinh vật học từng đoạt giải Nobel - David Baltimore đã phát minh ra hệ thống phân loại Baltimore.[34][125] Nó được sử dụng kết hợp với hệ thống phân loại ICTV trong phân loại virus hiện đại.[126][127][128]
        </p>
        <p class="p-content p-content-sm">
            Cấu trúc hệ thống phân loại chung như sau:
            <dl><dd><a href="" title="Bộ (sinh học)">Bộ</a> (-virales)
                <dl><dd><a href="" title="Họ (sinh học)">Họ</a> (-viridae)
                <dl><dd><a href="" title="Họ (sinh học)">Phân họ</a> (-virinae)
                <dl><dd><a href="" title="Chi (sinh học)">Chi</a> (<i>-virus</i>)
                <dl><dd><a href="" title="Loài">Loài</a> (<i>-virus</i>)</dd></dl></dd></dl></dd></dl></dd></dl></dd>
            </dl>
            <p class="p-content p-content-sm">
                Theo bảng phân loại năm 2013 của ICTV, có sáu bộ được xác lập, bao gồm Caudovirales, Herpesvirales, Mononegavirales, Nidovirales, Picornavirales và Tymovirales. Bộ thứ bảy Ligamenvirales cũng đã được đề xuất. Ủy ban không chính thức phân biệt các phân loài, chủng và dòng phân lập. Tổng cộng hiện nay có 7 bộ, 87 họ, 19 phân họ, 349 chi và khoảng 2.827 loài[123][124]
            </p>
        </p>
        <h3>2. Hệ thống phân loại ICTV</h3>

        <p class="p-content p-content-sm">
            Ủy ban Quốc tế về Phân loại Virus (ICTV) đã phát triển hệ thống phân loại hiện hành và viết ra các hướng dẫn mà đề cao hơn đến các thuộc tính nhất định của virus để duy trì tính thống nhất của chúng trong một họ. Một hệ thống phân loại thống nhất đã được thành lập. Báo cáo lần thứ 7 của ICTV đã chính thức hóa lần đầu tiên khái niệm loài virus như là taxon (nhóm) thấp nhất trong hệ thống thứ bậc phân nhánh của các nhóm virus.[121] Tuy nhiên, hiện tại chỉ có một phần nhỏ trong sự đa dạng của virus được nghiên cứu: phân tích các mẫu lấy từ con người cho thấy rằng có khoảng 20% trình tự virus được phục hồi là chưa từng được nhìn thấy trước đó, phân tích các mẫu lấy từ môi trường, như nước biển và trầm tích đại dương, giúp phát hiện ra một lượng lớn những trình tự mà hoàn toàn mới lạ với con người.[122]
        </p>
        <p class="p-content p-content-sm">
            Baltimore phân loại virus dựa trên cơ chế sản xuất RNA thông tin (mRNA). Virus phải tạo ra mRNA từ bộ gen của chúng để sản xuất protein và sao chép chính chúng, nhưng có những cơ chế khác nhau đã được sử dụng để đạt được điều này trong mỗi họ virus. Bộ gen virus có thể là sợi đơn (ss) hoặc sợi đôi (ds), RNA hoặc DNA, và có thể sử dụng enzym phiên mã ngược (RT) hoặc không. Thêm vào đó, những virus ssRNA có thể là dương bản (+) hoặc âm bản (−). Hệ thống phân loại này sắp xếp virus vào 7 nhóm:
        </p>
        <ul><li class="p-content p-content-sm">I: <b><a href="" class="mw-redirect" title="Virus dsDNA">virus dsDNA</a></b> (ví dụ <a href="" class="mw-redirect" title="Adenovirus">Adenovirus</a>, <a href="" title="Virus herpes">Herpesvirus</a>, <a href="" class="new" title="Poxvirus (trang không tồn tại)">Poxvirus</a>)</li>
            <li class="p-content p-content-sm">II: <b><a href="" class="new" title="Virus ssDNA (trang không tồn tại)">virus ssDNA</a></b> <i>DNA (+)</i> (ví dụ <a href="" class="new" title="Parvovirus (trang không tồn tại)">Parvovirus</a>)</li>
            <li class="p-content p-content-sm">III: <b><a href="" class="new" title="Virus dsRNA (trang không tồn tại)">virus dsRNA</a></b> (ví dụ <a href="" class="new" title="Reovirus (trang không tồn tại)">Reovirus</a>)</li>
            <li class="p-content p-content-sm">IV: <b><a href="" class="new" title="Virus ssRNA dương (trang không tồn tại)">virus (+)ssRNA</a></b> RNA (+) (ví dụ <a href="" class="new" title="Togavirus (trang không tồn tại)">Togavirus</a>)</li>
            <li class="p-content p-content-sm">V: <b><a href="" class="new" title="Virus ssRNA âm (trang không tồn tại)">virus (−)ssRNA</a></b> <i>RNA (-)</i> (ví dụ <a href="" class="new" title="Orthomyxovirus (trang không tồn tại)">Orthomyxovirus</a>, <a href="" class="new" title="Rhabdovirus (trang không tồn tại)">Rhabdovirus</a>)</li>
            <li class="p-content p-content-sm">VI: <b><a href="" class="new" title="Virus ssRNA-RT (trang không tồn tại)">virus ssRNA-RT</a></b> <i>RNA (+) với trung gian DNA</i> (ví dụ <a href="" title="Retrovirus">Retrovirus</a>)</li>
            <li class="p-content p-content-sm">VII: <b><a href="" title="Virus dsDNA-RT">virus dsDNA-RT</a></b> (ví dụ <a href="" class="new" title="Hepadnavirus (trang không tồn tại)">Hepadnavirus</a>)</li>
        </ul>
        <p class="p-content p-content-sm">
            Lấy một ví dụ, virus thủy đậu, Varicella zoster virus (VZV), thuộc về bộ Herpesvirales, họ Herpesviridae, phân họ Alphaherpesvirinae, và chi Varicellovirus. VZV thuộc nhóm I trong Phân loại Baltimore do nó là một virus DNA sợi đôi và không sử dụng phiên mã ngược.
        </p>
       
            

      
    </section>

</div>