    <section class="small-title">
        <h2>COVID-19</h2>
        <p class="head">Updated February 26, 2022</p>
    </section>

    <section class="small-title">
        <h2>1. About COVID-19</h2>

        <p class="p-content p-content-sm">
            COVID-19 (coronavirus disease 2019) is an illness caused by a virus called SARS-CoV-2 and was discovered in December 2019 in<a class="map" href="https://goo.gl/maps/NzKKcJibQkAaeCgEA"><img src="img/icons8-google-maps-20.png" height="20" width="20">Wuhan</a> ,China. The disease is highly contagious and has spread rapidly around the world.
        </p>

        <p class="p-content p-content-sm">COVID-19 usually causes respiratory symptoms, which can feel like a cold, flu, or pneumonia. COVID-19 can attack more than just your lungs and respiratory system. Other parts of your body can also be affected by this disease.</p>
    </section>

    <section class="small-title">

        <div>

            <ul>
                <li class="nd">
                    Most people with COVID-19 have mild symptoms, but some become severe.
                </li>
                <li class="nd">
                    Some people, including those with mild symptoms or no symptoms, can develop post-COVID syndrome - or "sequel COVID".
                </li>
                <li class="nd">
                    Older people or people with certain medical conditions are at increased risk for serious illness from COVID-19.
                </li>
                <li class="nd">
                    Thousands of people have died from COVID-19 in the United States.
                </li>
                <li class="nd">
                    The COVID-19 vaccine is safe and effective. Vaccines teach our immune systems to fight the virus that causes COVID-19
                </li>
            </ul>
        </div>
    </section>
    <section class="small-title">
        <h2>2. SARS-CoV-2. Virus that causes COVID-19</h2>
        <p class="p-content p-content-sm">
            COVID-19 is caused by a virus called SARS-CoV 2. It is part of the coronavirus family, which includes common viruses that cause a wide range of illnesses from the common cold or bronchitis to more serious (but rarer) illnesses like respiratory syndrome. Severe Acute Respiratory Syndrome (SARS) and Middle East Respiratory Syndrome (MERS).
        </p>
        <figure>
            <p class="img"><img src="img/covid.png" height="200" width="300"></p> <figcaption>Corona virus (illustration)</figcaption>
        </figure>
        <p class="p-content p-content-sm">
            Like many other respiratory viruses, coronavirus spreads quickly through droplets that you shoot out of your mouth or nose when you breathe, cough, sneeze, or speak.
        </p>
        <p class="p-content p-content-sm">
            The word corona means crown and is related to the shape that corona viruses have due to the spike-shaped proteins protruding from them. These spike proteins are important for the biology of this virus. The spike protein is the part of a virus that attaches to a human cell to infect it, allowing it to replicate inside the cell and spread to other cells. Some antibodies can protect you from SARS-CoV-2 by targeting these spike proteins. Because of the importance of this specific part of the virus, scientists sequence the virus's genome for study, continuously tracking mutations that cause changes to the spike protein through a process The process is called genome surveillance.
        </p>
        <p class="p-content p-content-sm">
            As gene changes to the virus occur over time, the SARS-CoV-2 virus begins to form gene lines. Like the family tree, the SARS-CoV-2 virus can be mapped in a similar way. Sometimes the branches of that tree have different properties that change how quickly the virus spreads, the severity of the illness it causes, or the effectiveness of treatments against it. Scientists call viruses with these changes "variants". They are still SARS-CoV-2, but may behave differently.
        </p>
    </section>
    <section class="small-title">
        <h2>3. Symptoms of COVID-19 (SARS-CoV-2)</h2>
        <p class="p-content p-content-sm">
            People with COVID-19 have had a range of reported symptoms - from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. Anyone can have mild to severe symptoms. People with these symptoms may have COVID-19:
        </p>
        <ul>
            <li class="nd">
                Fever or chills
            </li>
            <li class="nd">
                Supplement
            </li>
            <li class="nd">
                Shortness of breath or difficulty breathing
            </li>
            <li class="nd">
                Tired
            </li>
            <li class="nd">Muscle pain or body pain</li>
            <li class="nd">Headache</li>
            <li class="nd">Sore throat</li>
            <li class="nd">Stuffy or runny nose</li>
            <li class="nd">Nausea or vomiting</li>
            <li class="nd">Diarrhea</li>
        </ul>
        <p class="p-content p-content-sm">Loss of taste or smell: This is one of the new symptoms added to the CDC's list. This symptom is also present in other viral diseases, but is more common in patients with COVID-19.</p>
        <p class="p-content p-content-sm">Stroke: One of the most worrisome complications of COVID-19 is stroke, which usually occurs only in patients under the age of 50. This complication is also more likely to occur in patients who already have underlying medical conditions.</p>
        <p class="p-content p-content-sm">Toxic shock syndrome: There have been cases of toxic shock syndrome in children, which have been attributed to COVID-19. Toxic shock syndrome is caused by bacteria or a virus, and one of the main symptoms is a sudden high fever above 40 degrees Celsius.</p>
    </section>
    <section class="small-title">
        <h2>4. Covid treatment</h2>
        <p class="p-content p-content-sm">
            Recovering from COVID usually takes around 2 weeks (for mild cases) and about a month for people with a serious infection. But COVID has an excellent recovery rate in India right now which is above 90%. That is why most people who contract this viral infection recover soon and slowly get back to their old lifestyle.
        </p>
        <p class="p-content p-content-sm">If you or someone you know got infected and recovered, congratulations! But remember, even though the virus is no longer in your body, you still need to be cautious about what you do in the next few days. Here is a complete guide to post-COVID care.</p>

        <p class="p-content p-content-sm"><strong>Take Rest</strong></p>
        <p class="p-content p-content-sm">Most doctors suggest that you stay isolated for another 7 days, especially now that some studies have found that even if the symptoms disappear, the virus may still linger in your body. If possible give yourself a week of complete rest after recovery. A well-rested body can focus on healing. Get enough sleep because when you sleep, your body speeds up the recovery procedure. Do not resume your old lifestyle right away. Too much work, stress and anxiety will make you ill.</p>
        <p class="p-content p-content-sm"><strong>Have a nutritious diet</strong></p>
        <p class="p-content p-content-sm">Food eases the path to recovery. The right kind of food will help you gain your strength back in days. Make sure your diet includes plenty of proteins such as lentil soup, legumes, seeds, nuts, boiled eggs and chicken stew. Proteins repair the body. Eat small portions for easy digestion. Don’t forget to eat at least 1 fruit a day. Drink plenty of water to stay hydrated.</p>
        <p class="p-content p-content-sm"><strong>Exercise a little daily</strong></p>
        <figure>
            <p class="img"><img src="img/Exercise.png" height="200" width="300"></p>
        </figure>
        <p class="p-content p-content-sm">Exercising may sound unappealing, but it is essential for a speedy recovery. Working out improves blood and oxygen circulation. It helps to detoxify your body. It can also help your brain produce more happiness hormones which will lift your spirits – something that is greatly needed after you’ve contracted COVID. Only exercise as much as you can. Do your favourite kinds of exercise and don’t push yourself too much. 10 minutes a day will suffice.</p>
        <p class="p-content p-content-sm"><strong>Play a few memory games</strong></p>
        <p class="p-content p-content-sm">COVID is known to damage brain and neural cells. To prevent future memory problems, try playing some memory games like sudoku, mathdoku, crossword, jigsaw, etc. this will also help you while away the time without getting bored and irritated.</p>
        <p class="p-content p-content-sm"><strong>Check your blood oxygen level</strong></p>
        <figure>
            <p class="img"><img src="img/oxi.png" height="200" width="300"></p>
        </figure>
        <p class="p-content p-content-sm">Continue to monitor your blood oxygen saturation level with your oximeter. Even if you have recovered from COVID, there could be lung damage that you don’t know of. If so, your oxygen level will fluctuate and dip below 90. You will need to visit the doctor. </p>
        <p class="p-content p-content-sm"><strong>Watch out for other symptoms</strong></p>
        <p class="p-content p-content-sm">COVID can have long-term consequences for your health. So you have to be alert. COVID can cause both lung and heart damage. If you begin to experience shortness of breath, tightness in the chest, warm flushes, consult a doctor right away.</p>
        <p class="p-content p-content-sm"><strong>Steam inhalation</strong></p>
        <p class="p-content p-content-sm">Since steam inhalation helps to drastically reduce upper as well as lower respiratory congestion, it is advisable to continue this home remedy even after recovering from COVID-19. This is because COVID reduces lung capacity and slight congestion could cause a lot of discomfort in breathing.</p>
        <p class="p-content p-content-sm"><strong>Take Multi-vitamins</strong></p>
        <p class="p-content p-content-sm">COVID-19 can take a massive toll on your immune system. In several cases, people who have recovered from COVID-19 have had to deal with a highly compromised immune system. Therefore, consuming a regular dose of multi-vitamin supplements is highly advisable to help restore the immune system.</p>
        <p class="p-content p-content-sm"><strong>Stay hydrated</strong></p>
        <p class="p-content p-content-sm">The importance of hydration cannot be stressed enough. Some cases of COVID-19 have reported electrolytic imbalance both during infection as well as post-recovery. Therefore, drinking at least 2 to 3 litres of water a day is highly recommended.</p>
        <p class="p-content p-content-sm"><strong>Lung exercises</strong></p>
        <p class="p-content p-content-sm">Since the strength of your lungs is usually compromised after recovering from COVID-19, it is essential to perform some breathing exercises that help to restore lung capacity. You can begin by simply blowing out candles, blowing balloons, or even using a spirometer.</p>

        <p class="p-content p-content-sm"><strong style="color: #018cca">COVID care is essential and should not be ignored. This is a great investment for your future health!</strong>  </p>
    </section>
    <br>

</div>