    <section class="small-title">
        <h2>Coxsackievirus infection</h2>

        <h3>What is a Coxsackievirus infection?</h3>

        <p class="p-content p-content-sm">Coxsackieviruses are part of a family of enteroviruses (including polio virus and hepatitis A virus) that live in the human gastrointestinal tract.
            <br><br>
            The virus can be spread from person to person, usually on unwashed hands and surfaces contaminated with feces (feces), where they can live for several days.

            <br><br>
            In most cases, a coxsackievirus infection causes mild flu-like symptoms and goes away on their own without treatment. But in some cases, they can lead to more serious infections.

            <br><br>
        </p>
    </section>

    <section class="small-title">
        <h3>What are the Signs &amp; Symptoms of Coxsackievirus Infection?</h3>

        <p class="p-content p-content-sm">
            Coxsackievirus can produce a variety of symptoms. About half of children with the infection have no symptoms. Others suddenly develop high fevers, headaches and muscle aches, and some also have sore throats, abdominal discomfort or nausea. A child infected with coxsackievirus may just feel hot but have no other symptoms. In most children, the fever lasts about 3 days, then goes away.

        </p>

    </section>
    <section class="small-title">
        <h3>
            What problem could happen?
        </h3>
        <p class="p-content p-content-sm">
            Coxsackievirus can cause symptoms that affect different body parts, including:
            
        </p>
        <ul class="p-content p-content-sm">
            <li><strong>HFMD</strong>  , a type of coxsackievirus syndrome, causes painful red blisters on the throat and on the tongue, gums, hard palate, inside of the cheeks, palms of the hands, and soles of the feet.</li>
            <figure>
                <p class="p-img"><img src="img/CoxsackieBabyFoot-A-enIL.jpg"></p>
            </figure>
            <li> <strong>Herpangina</strong> , an infection of the throat, which causes red-rimmed blisters and sores on the tonsils and soft palate, the fleshy back part of the roof of the mouth.</li>
            <li> <strong>Hemorrhagic conjunctivitis</strong>, an infection that affects the whites of the eye, usually begins with eye pain, quickly followed by red, watery eyes with swelling, sensitivity to light, and blurred vision.</li>
        </ul>
    </section>

    <section class="small-title">

        <div>
            <p class="p-content p-content-sm">Sometimes, coxsackievirus can cause more serious infections that may require hospital treatment, including:</p>
          <ul class="p-content p-content-sm">
              <li>viral meningitis, an infection of the meninges (the membrane that surrounds the brain and spinal cord)</li>
              <li>encephalitis, brain infection</li>
              <li>myocarditis, infection of the heart muscle</li>
          </ul>
            <p class="p-content p-content-sm">
                Mothers can pass the infection on to their babies during or shortly after birth. Newborns are at increased risk for serious infections, including myocarditis, hepatitis, and meningitis (an inflammation of the brain and meninges). In infants, symptoms can develop within 2 weeks of birth.
            </p>
        </div>
    </section>
    <section class="small-title">
        <h3>Is Coxsackievirus infection contagious?</h3>
        <p class="p-content p-content-sm">
            Coxsackievirus is very contagious. They can be passed from person to person on unwashed hands and surfaces contaminated with feces. They can also be spread through liquid droplets sprayed into the air when someone sneezes or coughs.
            <br>
            <br>
            When an outbreak affects the community, the risk of coxsackievirus infection is highest in infants and children under 5 years of age. The virus spreads easily in group settings such as schools, childcare centers, and summer camps. People are most contagious the first week they get sick.
            <br>
            <br>
            In cooler climates, outbreaks are most common in the summer and fall, but the tropics of the world have it year-round.
            <br>
            <br>
        </p>

    </section>
    <section class="small-title">
        <h3>How are Coxsackievirus infections treated?</h3>
        <p class="p-content p-content-sm">
            Depending on the type of infection and symptoms, your doctor may prescribe medications to make your child more comfortable. Since antibiotics only work against bacteria, they cannot be used against coxsackievirus infections.
            <br><br>
            Can you give <strong>take acetaminophen</strong> or <strong>ibuprofen</strong>for mild pain relief. If the fever persists for more than 24 hours or if your child has any symptoms of a more serious coxsackievirus infection, call your doctor.
            <br><br>
            Most children with simple coxsackievirus infections recover completely in a few days without medical treatment. Children with a fever without any other symptoms should rest in bed or play gently indoors. Give your child plenty of water to drink to avoid dehydration.                    </p>

    </section>
    <section class="small-title">
        <h3>When should I call the doctor?</h3>
        <p class="p-content p-content-sm">
            Call the doctor right away if your child has any of the following symptoms:
            <br>
            </p><ul class="p-content p-content-sm">
        <li>fever higher than 100.4°F (38°C) for infants younger than 6 months and higher than 102°F (38.8°C) for older children</li>
        <li>picky eaters</li>
        <li>difficult to feed </li>
        <li>vomiting</li>
        <li>diarrhea</li>
        <li>shortness of breath</li>
        <li>convulsions</li>
        <li>unusual sleepiness</li>
        <li>pain in the chest or abdomen</li>
        <li>sores on the skin or inside the mouth</li>
        <li>severe sore throat</li>
        <li>severe headache, especially with vomiting, confusion, or unusual sleepiness</li>
        <li>stiff neck</li>
        <li>red, swollen and watery eyes</li>
        <li>pain in one or both testicles</li>
    </ul>
        <p></p>
    </section>
    <section class="small-title">
        <h3>Can Coxsackievirus infections be prevented?</h3>
            <p class="p-content p-content-sm">
                There is no vaccine to prevent coxsackievirus infection. Hand washing is the best protection. Remind everyone in the household to wash their hands thoroughly and often, especially after using the bathroom, after changing diapers, before meals, and before preparing food. Toys shared in childcare centers should be cleaned regularly with a disinfectant because viruses can live on these objects for days.
                <br><br>
                Children who are sick with coxsackievirus should not go to school or daycare for a few days to avoid infection.
            </p>
    </section>
</div>