<section class="small-title ng-scope">
    <h2>ECHO virus</h2>
    <p class="p-content p-content-sm">
        Enteric cytopathic human orphan (ECHO) viruses are a group of viruses that can lead to infections in different parts of the body, and skin rashes.    </p>
</section>

<section class="small-title ng-scope">
    <h3>1.Causes</h3>
    <p class="p-content p-content-sm">
        Echovirus is one of several families of viruses that affect the gastrointestinal tract. Together, these are called enteroviruses. These infections are common. In the United States, they are most common in the summer and fall. You can catch the virus if you come into contact with stool contaminated by the virus, and possibly by breathing in air particles from an infected person.
    </p>
    <p class="p-content p-content-sm">
        Serious infections with ECHO viruses are much less common but can be significant. For example, some cases of viral meningitis (inflammation of the tissue that surrounds the brain and spinal cord) are caused by an ECHO virus.
    </p>
    <h3>2.Symptoms</h3>
    <p class="p-content p-content-sm">
        Symptoms depend on the site of infection and may include:
    </p>
    <ul>
        <li class="p-content p-content-sm">Croup (breathing difficulty and harsh cough) </li>
        <li class="p-content p-content-sm">Mouth sores </li>
        <li class="p-content p-content-sm">Skin rashes</li>
        <li class="p-content p-content-sm">Sore throat </li>
        <li class="p-content p-content-sm">Chest pain if the infection affects the heart muscle or sac-like covering around the heart (pericarditis) </li>
        <li class="p-content p-content-sm">Severe headache, mental status changes, fever and chills, nausea and vomiting, sensitivity to light, if the infection affects the membranes covering the brain and spinal cord (meningitis) </li>
    </ul>
    <h3>3. Prevention</h3>
    <p class="p-content p-content-sm">
        No specific preventive measures are available for ECHO virus infections other than hand-washing, especially when you are in contact with sick people. Currently, no vaccines are available.    </p>




</section>

</div>