<section class="small-title ">
    <h2>Epidemiology and pandemics</h2>
</section>

<section class="small-title ">
    <h3>1. What is a pandemic?</h3>
    <p class="p-content p-content-sm">
        A pandemic (from Greek , pan, "all" and δῆμος, demo, "local" 'crowd') is an epidemic of an infectious disease that has spread over a large area , such as multiple continents or worldwide, affecting significant numbers of individuals. A widespread disease with a stable population of infected individuals is not a pandemic.
    </p>
    <h3>2. Pandemic flu</h3>
    <p class="p-content p-content-sm">
        . The 1918 influenza pandemic, which lasted until 1919, was a type 5 influenza pandemic caused by an unusually deadly and severe influenza A virus. Victims are usually healthy young adults, in contrast to most influenza outbreaks, which mainly affect adolescent, elderly, or frail patients.
    </p>
    <p class="p-content p-content-sm">
        Older estimates say it killed 40–50 million people, [175] while more recent research suggests that it may have killed around 100 million, or 5% of the world's population in 1918.
    </p>
    <h3>3.SARS</h3>
    <p class="p-content p-content-sm">
        Severe acute respiratory syndrome (SARS) and Middle East respiratory syndrome (MERS) are caused by novel coronaviruses. Other coronaviruses are known to cause mild infections in humans, [187] so the virulence and rapid spread of SARS infections — in July 2003 caused about 8,000 cases and 800 deaths — are unexpected and most countries are unprepared for
    </p>

    <h3>4. Coronavirus</h3>
    <p class="p-content p-content-sm">
        A related coronavirus, severe acute respiratory syndrome coronavirus 2 (SARS-Cov-2), believed to have originated in bats, emerged in Wuhan, China in November 2019 and spread spread rapidly around the world. Infection with the virus caused the COVID-19 pandemic that began in 2020. [189] [190] [191] Unprecedented peacetime restrictions have been imposed on international travel, [192] ] and curfews have been imposed in several major cities worldwide in response to the pandemic.
    </p>

</section>
