<section class="small-title">
    <h2>Dịch tễ và đại dịch</h2>
</section>

<section class="small-title">
    <h3>1.Đại dịch là gì ?</h3>
    <p class="p-content p-content-sm">
        Đại dịch (từ tiếng Hy Lạp πᾶν , pan , "tất cả" và δῆμος , bản trình diễn , "người địa phương" 'đám đông') là một trận dịch của một bệnh truyền nhiễm đã lan rộng trên một khu vực rộng lớn, chẳng hạn như nhiều lục địa hoặc trên toàn thế giới, ảnh hưởng đến số lượng cá thể đáng kể. Một bệnh lưu hành trên diện rộng với một số lượng cá thể bị nhiễm bệnh ổn định không phải là một đại dịch.
    </p>
    <h3>2.Đại Dịch cúm </h3>
    <p class="p-content p-content-sm">
        . Đại dịch cúm năm 1918 , kéo dài đến năm 1919, là đại dịch cúm loại 5 do một loại vi rút cúm A gây chết người và nghiêm trọng bất thường. Các nạn nhân thường là thanh niên khỏe mạnh, trái ngược với hầu hết các đợt bùng phát cúm, chủ yếu ảnh hưởng đến các bệnh nhân vị thành niên, người già hoặc bệnh nhân suy yếu.
    </p>
    <p class="p-content p-content-sm">
        Các ước tính cũ hơn nói rằng nó đã giết chết 40–50 triệu người, [175] trong khi nghiên cứu gần đây hơn cho thấy rằng nó có thể đã giết chết khoảng 100 triệu người, hay 5% dân số thế giới vào năm 1918.
    </p>
    <h3>3.SARS</h3>
    <p class="p-content p-content-sm">
        Hội chứng hô hấp cấp tính nghiêm trọng ( SARS ) và hội chứng hô hấp Trung Đông (MERS) do các loại coronavirus mới gây ra . Các loại coronavirus khác được biết là gây ra các bệnh nhiễm trùng nhẹ ở người, [187] vì vậy độc lực và sự lây lan nhanh chóng của các ca nhiễm SARS — vào tháng 7 năm 2003 đã gây ra khoảng 8.000 ca bệnh và 800 ca tử vong — là điều bất ngờ và hầu hết các quốc gia đều không chuẩn bị
    </p>

    <h3>4. Coronavirus</h3>
    <p class="p-content p-content-sm">
        Một loại coronavirus có liên quan, hội chứng hô hấp cấp tính nghiêm trọng coronavirus 2 (SARS-Cov-2) , được cho là có nguồn gốc từ loài dơi, xuất hiện ở Vũ Hán , Trung Quốc vào tháng 11 năm 2019 và lây lan nhanh chóng trên khắp thế giới. Việc nhiễm vi rút đã gây ra đại dịch COVID-19 bắt đầu vào năm 2020. [189] [190] [191] Những hạn chế chưa từng có trong thời bình đã được áp dụng đối với việc đi lại quốc tế, [192] và lệnh giới nghiêm đã được áp dụng ở một số thành phố lớn trên toàn thế giới để đáp ứng đại dịch.
    </p>

</section>
