<section class="small-title ng-scope">
    <h2>GB virus C</h2>
    <p class="p-content p-content-sm">
        GB virus C (GBV-C), formerly known as hepatitis G virus (HGV) and also known as human pegivirus – HPgV is a virus in the family Flaviviridae and a member of the Pegivirus,[1] is known to infect humans, but is not known to cause human disease.
    </p>
    <p class="p-content p-content-sm">
        Reportedly, HIV patients coinfected with GBV-C can survive longer than those without GBV-C, but the patients may be different in other ways. Research is active into the virus' effects on the immune system in patients coinfected with GBV-C and HIV
    </p>

</section>

</div>