
    <section class="small-title">
        <h2>Vi rút HANTA và một số biện pháp phòng chống</h2>
        <p class="p-content p-content-sm">Cập nhật ngày 26 tháng 2 năm 2022</p>
    </section>  
    <section class="small-title">
        <h2>1. Đặc điểm dịch tễ học</h2>
        <p class="p-content p-content-sm">
            Vi rút Hanta (hay còn được gọi là vi rút Hantaan) được phát hiện đầu tiên tại sông Hantaan của Hàn Quốc vào năm 1978. Có ít nhất 20 loại vi rút Hanta được phát hiện, mỗi loại thích ứng với một loài gặm nhấm và phân bố ở nhiều nơi trên thế giới.
        </p>
        <figure>
            <p class="img"><img src="img/Hanta.png" height="369" width="512"></p> <figcaption>Chuột,loài gặm nhấm trung gian truyền Virus sang người</figcaption>
        </figure>
        <p class="p-content p-content-sm">
            Vi rút Hanta được mang và lây bệnh cho người qua loài gặm nhấm chủ yếu là chuột, nhưng loại vi rút này chỉ gây bệnh cho người không gây bệnh cho các loài gặm nhấm. Người bị nhiễm vi rút do tiếp xúc những chất bài tiết của động vật gặm nhấm, nhiễm bệnh qua đường hô hấp và các chất bài tiết thải ra từ chuột hay bị chuột cắn, qua các vùng da bị tổn thương, niêm mạc mắt, mũi miệng, do nước hoặc thức ăn đã bị nhiễm vi rút Hanta trước đó.
        </p>
        <p class="p-content p-content-sm">
            Bệnh thường thấy ở người lớn, nhóm tuổi từ 20-50 tuổi. Hiếm khi gặp ở trẻ em dưới 10 tuổi và những người già. Tỷ lệ mắc bệnh ở nam giới cao hơn nữ. Nhóm đối tượng có nguy cơ cao là những người sống ở nơi có nhiều chuột, những người thường đi dạo trong rừng, ngoài đồng hoặc thích đi cắm trại; người làm việc trong các kho hàng hay tại những vựa lúa; người làm nghề thợ điện, sửa ống nước... . Ngoài ra, những người làm rừng, các chuyên viên phòng thí nghiệm thường xuyên tiếp xúc và sử dụng các loài chuột hoặc các loài gặm nhấm cũng có thể nhiễm vi rút. Hiếm xảy ra lan truyền vi rút Hanta từ người bệnh sang người lành.
        </p>
    </section>
    <section class="small-title">
        <h2>2.Triệu chứng của bệnh</h2>

        <p class="p-content p-content-sm">
            Vi rút hanta có thời gian ủ bệnh ở người khoảng 2 – 4 tuần trước khi triệu chứng nhiễm trùng xảy ra.Vi rút Hanta gây ra hai thể bệnh với tỷ lệ tử vong cao là Sốt xuất huyết hội chứng thận (HFRS - Haemorrhagic Fever with Renal Syndrome) và Hội chứng phổi do vi rút Hanta (HPS - Hantanvirus Pulmonary Syndrome).
        </p>
        <ul>
            <li class="nd"><strong>Hội chứng sốt xuất huyết kèm suy thận (HFRS):</strong>Chủ yếu gặp ở các nước khu vực châu Á và trung Âu, vùng Scandinavia. Hội chứng này thường xuất hiện trong vòng 1 - 2 tuần sau khi phơi nhiễm. Triệu chứng bao gồm nhức đầu, đau lưng, đau bụng, sốt, lạnh run, nôn ói. Có thể có tình trạng mặt ửng đỏ, viêm đỏ kết mạc mắt, phát ban ngoài da. Sau đó bệnh nhân có thể bị huyết áp thấp, sốc (tương tự sốt xuất huyết dengue) đồng thời xuất hiện suy thận cấp. Tỷ lệ tử vong khoảng chiếm từ 1-15% và một số trường hợp tự hồi phục hoàn toàn sau vài tuần đến vài tháng.</li>
            <li class="nd"><strong>Hội chứng Phổi do vi rút Hanta (HPS):</strong>Trước đây chủ yếu gặp ở Hoa Kỳ, gần đây ghi nhận một số trường hợp tại Argentina, Brazil, Canada, Chile, Paraguay và Uruguay. Thời gian ủ bệnh sau phơi nhiễm kéo dài khoảng từ 1–5 tuần, triệu chứng sớm ban đầu là mệt mỏi, sốt, đau nhức cơ vùng đùi, hông, lưng, vai. Các triệu chứng khác có thể nhức đầu, chóng mặt, nôn ói, tiêu chảy, đau bụng. Triệu chứng hô hấp xuất hiện khoảng 4–10 ngày sau đó với ho, khó thở. Tình trạng khó thở diễn tiến ngày càng tăng và có thể suy hô hấp rất nặng. Hội chứng này có tỷ lệ tử vong khoảng 40-50%, những người còn sống, hồi phục nhanh, chức năng phổi trở lại hoàn toàn bình thường.</li>
        </ul>
    </section>
    <section class="small-title">
        <h2>3. Một số biện pháp phòng chống</h2>

        <p class="p-content p-content-sm">Hiện nay bệnh chưa có vắc xin phòng bệnh, ngăn ngừa chủ yếu là kiểm soát các loài gặm nhấm. Tránh tiếp xúc với chuột và chất thải của chúng. Người dân nên sử dụng ủng cao su khi đi đến những nơi có chuột sinh sống, ngủ màn để tránh bị chuột cắn. Khi tiếp xúc với chuột, bẫy chuột hoặc khi vệ sinh khu vực có chuột phải đeo khẩu trang, mang găng tay và rửa tay bằng xà phòng sau khi tiếp xúc. Giữ vệ sinh, gọn gàng nơi ở, nơi làm việc để làm giảm sự phát triển của chuột và dùng hóa chất sát khuẩn để vệ sinh nơi có chuột. </p>
        <p class="p-content p-content-sm">Khi nuôi các loại thú thuộc họ gặm nhấm (chuột, bọ, sóc…) cần thận trọng khi chăm sóc, tránh để nước tiểu, phân tiếp xúc với các vùng da bị tổn thương, mắt, mũi và miệng. </p>
        <p class="p-content p-content-sm">Cần đến cơ sở y tế ngay để được khám và điều trị khi có các triệu chứng bất thường sau khi đã tiếp xúc với các yếu tố nguy cơ liên quan đến chuột. </p>
    </section>


    <br>

</div>