<div class="col-12 col-xl-10 ng-scope">
    <section class="small-title">
    <h2>What are viruses? Formation of Viruses?</h2>
    <p class="p-content p-content-sm">Viruses are microscopic parasites, often much smaller than bacteria. They lack the ability to grow and reproduce outside the host's body. Most viruses are the cause of disease. The world has experienced the 2014 Ebola outbreak in West Africa, the 2009 swine flu pandemic, and now the Covid-19 pandemic is endangering everyone.</p>
    </section>
 
    <section class="small-title">
        <h3>1. What is a virus?</h3>
        <p class="p-content p-content-sm">
            <strong>A virus</strong> is a small parasite that cannot reproduce on its own. However, once a virus infects a susceptible cell, it can direct the cellular machinery to make more viruses. Most viruses have RNA and DNA as their genetic material. Nucleic acids can be single- or double-stranded. The entire infectious virus particle is called a virion, consisting of the nucleic acid and the protein coat. <br>
            <br>
            <strong>Viruses</strong> do not contain ribosomes so they cannot make proteins. This makes it completely dependent on the parasitic host. They are the only organism that cannot reproduce without a host cell.<br>
            <br>
            After communicating with the host cell, it inserts genetic material into the host and takes over the host's functions. After infecting a cell, the virus continues to reproduce, but it produces more proteins and genetic material instead of the usual cellular products. The simplest viruses contain only enough RNA or DNA to encode four proteins. As for complex viruses, they can encode between 100 and 200 proteins.
        </p>

    </section>

    <section class="small-title">
        <figure>
            <p class="p-img"><img src="img/lvr.png"></p> <figcaption>Viruses are of different types</figcaption>
        </figure>
        <div>
        <p class="p-content p-content-sm">
            Viruses come in different shapes and sizes and they can be classified as follows:
        </p>
            <ul>
                <li class="nd">
                    <b>Spiral</b> : The tobacco mosaic virus has a spiral shape.
                </li>
                <li class="nd">
                    <b>Spherical</b> : Most animal viruses are shaped like the image above.
                </li>
                <li class="nd">
                    <b>Envelope</b> : Some viruses cover themselves with a repaired part of the cell membrane,
                     <br>creating a protective lipid envelope. These include the influenza virus and the HIV virus.
                </li>
            </ul>
            <p class="p-content p-content-sm">
                In addition, these shapes can be combined to create non-standard virus shapes.
            </p>
        </div>
    </section>
    <section class="small-title">
        <h3>2. The formation of the virus</h3>
        <p class="p-content p-content-sm">
            Viruses are found anywhere there is life and have probably been around since living cells first evolved. The origin of the viruses is unclear because they do not form fossils. Therefore, scientists have used molecular techniques to compare the DNA or RNA of viruses, and this is also a useful means of investigating how they arise.
            <br>
            <br>
            Viruses are found anywhere there is life and have probably been around since living cells first evolved. The origin of the viruses is unclear because they do not form fossils. Therefore, scientists have used molecular techniques to compare the DNA or RNA of viruses, and this is also a useful means of investigating how they arise.
            <br>
            <br>
            There are three main theories to explain<strong>formation of viruses:</strong>
            <br>
            <br>
            </p><ul>
        <li class="nd"><b>Regression hypothesis:</b><br><p class="p-content p-content-sm">Viruses may have been small cells that parasitized larger cells. Over time, genes not required by their parasites are lost. Very small bacteria such as rickettsia and chlamydia are living cells, like viruses, and reproduce only inside host cells. Which hypothesis suggests that parasite dependence is capable of causing the loss of genes that allow survival outside of a cell. This can also be called the degeneration hypothesis or the reduction hypothesis.</p></li>
        <li class="nd"><b>The cell origin hypothesis:</b><br><p class="p-content p-content-sm">Some viruses may have evolved from DNA or RNA and escaped from the genes of a larger organism. Escaped DNA can come from plasmids (which are bare pieces of DNA that can move between cells), or transposons (DNA molecules that copy and move to different locations in a cell's genes). The so-called "jumping gene" transposons are examples of genetic factors and may be the source of some viruses. They were discovered in corn by Barbara McClintock in 1950.</p></li>
    </ul>
        <figure>
            <p class="p-img"><img src="img/Rnav.png"></p><figcaption>Viral RNA</figcaption>
        </figure>
        <ul>
            <li class="nd"><b>Co-evolution hypothesis:</b><br><p class="p-content p-content-sm">This is called the first virus hypothesis, and suggests that viruses may have evolved from complex molecules of proteins and nucleic acids at the same time that cells first appeared on Earth. And it will depend on the survival of the cell for billions of years.
                <br><br><strong>Viroids</strong> are RNA molecules that are not classified as viruses because they lack a protein coat. They have characteristics common to several viruses and are often referred to as secondary agents. Viroids are important plant pathogens. They do not encode proteins but interact with host cells and use host machinery for replication.
                <br><br>

                <strong>Hepatitis delta virus</strong>of humans whose RNA genome is similar to that of viroids but has a protein coat and is derived from the hepatitis B virus and cannot produce it on its own. Therefore, it is a faulty virus. Although the hepatitis delta virus genome can be independently replicated once in the host cell, it still requires the help of the hepatitis B virus to provide a protein coat so that it can be transmitted to the host cell. new cells. Thus, these viruses depend on the presence of other viruses in the host cell, which are called satellites and may represent evolutionary mediators of viroids and viruses.
                <br><br>

                Previously, there were problems with all these hypotheses: <strong>the regression hypothesis</strong> did not explain why even the smallest cellular parasites do not resemble viruses.<strong>The cell origin hypothesis</strong> also fails to explain the complex capsule and other structures on viral particles. The first hypothesis of viruses defied the definition of viruses in that they required host cells. <strong>Viruses</strong> are now recognized as archaic and originated before the divergence of life.
                <br><br>

                Evidence for the ancestral world of cells RNA and computer analysis of viral and host DNA sequences are helping to better understand the evolutionary relationships between different viruses, and possibly identify ancestors. of modern viruses. It seems that all currently known viruses share a common ancestor, and viruses may have arisen many times in the past by one or more mechanisms.</p></li>
        </ul>
        <p></p>
        <figure>
            <p class="p-img"><img src="img/VrB.png"></p><figcaption>Hepatitis B virus</figcaption>
        </figure>
    </section>
    <section class="small-title">
        <h3>3. Who discovered the virus?</h3>
        <p class="p-content p-content-sm">
            By the end of the 19th century, the notion that microorganisms especially bacteria could cause disease was well established. However, researchers are looking for a disturbing disease in tobacco - somewhat baffling its cause.
            <br><br>

            In an 1886 research paper titled "Regarding Tobacco Mosaic Disease" by the German chemist Adolf Mayer, it was published that when he crushed infected leaves and injected water with poison into the veins of healthy leaves, which will lead to spots and discoloration on the leaves.
            <br><br>

            Mayer correctly surmised that what causes <strong>tobacco mosaic disease</strong>starting in the leaf juice. However, more specific results did not match his conjecture. Mayer felt certain that what was causing the disease was bacterial in origin, but he was unable to isolate the causative agent or identify it under a microscope.
            <br><br>
            In 1898, when the presence of a <strong>virus</strong> was recognized, the Dutch scientist Martinus Beijerinck suggested that the cause of tobacco mosaic disease was not bacteria but a virus living in liquid. And his later experiments also showed the existence of the virus.
            <br><br>
            By 1931 an electron microscope was developed by German scientists Ernst Ruska and Max Knoll. The first images of the tobacco mosaic virus were mastered by Ruska in 1939. Thus, the detection of the <strong>virus</strong> appeared.
        </p>
    </section>
</div>