    <section class="small-title">
        <h2>HIV ( Human immunodeficiency virus )</h2>
        <p class="head">Cập nhật ngày 26 tháng 2 năm 2022</p>
        <p class="p-content p-content-sm">HIV là virus gây suy giảm miễn dịch ở người, là nguyên nhân gây ra đại dịch AIDS.</p>
    </section>
    <section class="small-title">
        <h2>1. LỊCH SỬ PHÁT HIỆN</h2>
        <p class="p-content p-content-sm">1981, ở Los-Angeles, USA phát hiện một số người đồng tính luyến ái bị viêm phổi do Pneumocytis carinii điều trị không khỏi do hệ miễn dịch suy giảm dần, về sau phát hiện thêm nhiều trường hợp đồng tính luyến ái bị chết vì các nhiễm trùng cũng do hệ miễn dịch suy giảm không hồi phục. Các trường hợp trên đều được gọi là AIDS</p>
        <p class="p-content p-content-sm">5/1983 nhóm nghiên cứu của viện Pasteur Paris (Luc Montagnier và Francoie Barré Sinonssi) phân lập được virus từ bệnh nhân luyến ái đồng tính bị sưng hạch, đặt tên là LAV (Lymphadenopathy Associated Virus).</p>
        <p class="p-content p-content-sm">1984, viện Ung thư quốc gia USA, phân lập được virus từ các bệnh nhân AIDS, đặt tên là HTLV-III (Human T Lymphocytotropic Virus typ III).</p>
        <p class="p-content p-content-sm">10/1984, phân tích genom của LAV và HTLV-III, người ta thấy chúng  giống nhau và đều là tác nhân gây AIDS.</p>
        <p class="p-content p-content-sm">1986, Hội nghị quốc tế đã thống nhất gọi virus gây bệnh AIDS là HIV (Human immunodeficiency virus).</p>
        <p class="p-content p-content-sm">1986, L. Montagnier lại phân lập được virus mới ở Ghinea – Bissau cũng gây AIDS nhưng giống với virus gây suy giảm miễn dịch ở khỉ (Simian Immunodeficiency virus –  SIV), đặt tên là HIV-2 (virus tìm thấy ban đầu gọi là HIV-1).</p>
    </section>
    <section class="small-title">
        <h2>2.PHÂN LOẠI</h2>
        <p class="p-content p-content-sm">HIV thuộc họ Retroviridae. Dựa vào cách sắp xếp các thành phần trong cấu trúc và khả năng gây bệnh, họ Retroviridae được chia thành 5 nhóm:</p>
        <ul>
            <li class="nd"> Oncovirus: gây các loại khối u ở người</li>
            <li class="nd">  Lencovirus: gây các loại khối u ở động vật</li>
            <li class="nd">Cancrovirus: gây khối u cả ở người và động vật</li>
            <li class="nd"> Lentivirus: gây nhiễm trùng chậm, gồm HIV-1, HIV-2 gây AIDS ở người và SIV gây suy giảm miễn dịch ở khỉ.</li>
            <li class="nd"> Spumavirus: chưa rõ vai trò gây bệnh, gồm HRV và SFV</li>
        </ul>
    </section>
    <section class="small-title">
        <h2>3.ĐẶC ĐIỂM SINH HỌC</h2>
        <p class="p-content p-content-sm">HIV mang đặc điểm chung của họ Retroviridae, hạt virus hoàn chỉnh (virion) gồm 3 lớp:</p>
        <figure>
            <p class="img"><img src="img/HIV.png" height="369" width="512"></p> <figcaption>Ảnh minh họa Virus HIV</figcaption>
        </figure>
        <p class="p-content p-content-sm"><strong>Lớp bao ngoài (envelop)</strong></p>
        <p class="p-content p-content-sm">Là một màng lipit kép có kháng nguyên chéo với màng tế bào người. Gắn trên màng này là các gai nhú; đó là các phân tử glycoprotein gồm 2 phần :</p>
        <ul>
        <li class="nd">Glycoprotein màng ngoài có trọng lượng phân tử 120 kDa (gp.120), kháng nguyên rất dễ biến đổi gây khó khăn cho các cơ chế bảo vệ cơ thể và chế vacxin phòng bệnh.</li>
        <li class="nd">Glycoprotein xuyên màng có trọng lượng phân tử 41 kDa (gp.41).</li>
        </ul>
        <p class="p-content p-content-sm">Hai phân tử này gắn liền với nhau.</p>
        <p class="p-content p-content-sm"><strong>Lớp vỏ trong (vỏ capsid):</strong>Gồm 2 lớp protein</p>
        <ul>
            <li class="nd"> Lớp ngoài hình cầu, cấu tạo bởi protein có trọng lượng phân tử 17 kDa với HIV-1 và 18 kDa với HIV-2.</li>
            <li class="nd"> Lớp trong hình trụ không đều cấu tạo bởi các phân tử protein có trọng lượng 24 kDa (p24) với HIV-1, 25 kDa với HIV-2. Đây là kháng nguyên rất quan trọng để chẩn đoán nhiễm HIV.</li>
        </ul>
        <p class="p-content p-content-sm"><strong>Lõi:</strong> Gồm genom và các enzyme đặc biệt:</p>
        <ul>
            <li class="nd">Genom : Hai sợi đơn ARN. Mỗi sợi gồm 3 gen cấu trúc: gag (group specific antigen – mã hóa cho protein capsid), pol (polymerase – mã hóa cho các enzyme đặc biệt làm nhiệm vụ sao chép acid nhân) và env (envelop – mã hoá cho các glycoprotein lớp vỏ ngoài của HIV)..</li>
            <li class="nd">  Enzyme đặc biệt: RT</li>
        </ul>
    </section>
    <section class="small-title">
        <h2>4.KHẢ NĂNG GÂY BỆNH</h2>
        <p class="p-content p-content-sm"><strong>Gây suy giảm và rối loạn miễn dịch</strong></p>
        <ul>
            <li class="nd"> Làm giảm các tế  bào lympho T CD4 (tế bào hỗ trợ lympho B trong sản xuất kháng thể ) nhanh chóng dẫn tới sự suy giảm miễn dịch.</li>
            <li class="nd"> Làm suy giảm chức năng nhiều loại tế bào miễn dịch- đó là những tế bào bị nhiễm HIV: lympho B, T, monocyte và đại thực bào, bạch cầu đa nhân.</li>
            <li class="nd">Gây tự miễn dịch do KN chéo giữa lớp vỏ ngoài với màng tế bào.</li>
        </ul>
        <p class="p-content p-content-sm">Ngoài ra, virus cũng có thể gây <strong>nhiễm trùng cơ hội và ung thư đặc biệt</strong></p>
    </section>
    <section class="small-title">
        <h2>5.ĐƯỜNG LÂY TRUYỀN</h2>
        <p class="p-content p-content-sm"><strong>Lây theo đường tình dục:</strong>Là đường chủ yếu, nguy cơ tăng cao khi quan hệ với nhiều người, quan hệ tình dục bất thường…</p>
        <p class="p-content p-content-sm"><strong> Lây theo đường máu :</strong>qua truyền máu hoặc các sản phẩm của máu có nhiễm HIV, qua bơm tiêm, dao mổ, dụng cụ nhổ răng… đặc biệt ở người nghiện chích ma tuý.</p>
        <p class="p-content p-content-sm"><strong> Lây từ mẹ sang con:</strong>25-50% trẻ sơ sinh nhiễm HIV từ mẹ có HIV (+) , lây từ tuần 21 trở đi hoặc trong lúc đẻ. Có thể lây qua sữa mẹ.</p>
    </section>
    <section class="small-title">
        <h2>6.PHÒNG TRÁNH VÀ ĐIỀU TRỊ</h2>
        <p class="p-content p-content-sm"><strong>PHÒNG TRÁNH</strong></p>
        <ul>
            <li class="nd">Phòng không đặc hiệu: (tư vấn các biện pháp căn cứ theo đường lây của virus HIV)</li>
            <li class="nd">Phòng đặc hiệu : đang nghiên cứu vacxin</li>
        </ul>
        <p class="p-content p-content-sm"><strong> Điều trị</strong></p>
        <ul>
            <li class="nd">Thuốc chống Retrovirus:  Lamivudin, Zidovudin…</li>
            <li class="nd"> Tăng cường miễn dịch và Interferon</li>
            <li class="nd">  Chống các nhiễm trùng cơ hội</li>
        </ul>
    </section>

    <br>

</div>