<section class="small-title">
    <h2>Materials science and nanotechnology</h2>
</section>

<section class="small-title">
    <h3>1.Một số thông tin cơ bản</h3>
    <p class="p-content p-content-sm">Những xu hướng hiện nay trong công nghệ nano hứa hẹn sẽ đem lại việc ứng dụng virus một cách linh hoạt hơn.</p>
    <p class="p-content p-content-sm">Theo quan điểm của các nhà khoa học vật liệu, virus có thể được xem như những hạt nano hữu cơ. Bề mặt của chúng chứa những công cụ đặc biệt được thiết kế để vượt qua các rào chắn của tế bào vật chủ. Kích cỡ và hình dạng của virus, cũng như số lượng và bản chất của các nhóm chức năng trên bề mặt chúng, đã được xác định một cách chính xác</p>
    <p class="p-content p-content-sm"> Như vậy, virus có thể được sử dụng phổ biến trong khoa học vật liệu như giá đỡ cho những sửa đổi bề mặt được liên kết cộng hóa trị. Một phẩm chất đặc biệt của virus là chúng có thể được điều chỉnh nhờ tiến hóa có định hướng. Các kĩ thuật mạnh mẽ được phát triển trong các ngành khoa học sự sống đã đang trở thành nền tảng cho hướng tiếp cận kĩ thuật về vật liệu nano, mở ra một loạt những ứng dụng rộng rãi vượt ra khỏi sinh học và y học.</p>


    <h3>2.Một số ứng dụng</h3>

    <p class="p-content p-content-sm">Do kích thước, hình dạng, và cấu trúc hóa học dễ xác định, virus được sử dụng như những bản mẫu để tạo nên những vật liệu ở cấp độ nano. </p>
    <p class="p-content p-content-sm">Những ví dụ gần đây bao gồm nghiên cứu tại Phòng thí nghiệm Nghiên cứu Hải quân Mỹ ở Washington, D.C., sử dụng các phần tử virus khảm đậu đũa (CPMV) để khuếch đại những tín hiệu trong cảm biến dựa trên DNA microarray. Trong ứng dụng này, các hạt virus tách riêng các thuốc nhuộm huỳnh quang sử dụng cho báo hiệu để ngăn ngừa sự hình thành các dimer (chất nhị trùng) mà đóng vai trò là những tác nhân dập tắt huỳnh quang.</p>
    <p class="p-content p-content-sm">Một ví dụ khác là việc sử dụng CPMV như một bộ cắm dây có kích thước nano dùng trong điện tử học phân tử.</p>

</section>

</div>