<section class="small-title ng-scope">
    <h2>Materials science and nanotechnology</h2>
</section>

<section class="small-title ng-scope">
    <h3>1.Some basic information</h3>
    <p class="p-content p-content-sm">Current trends in nanotechnology promise a more flexible application of viruses.</p>
    <p class="p-content p-content-sm">From the point of view of materials scientists, viruses can be viewed as organic nanoparticles. Their surfaces contain special tools designed to break through the host cell's barriers. The size and shape of the viruses, as well as the number and nature of the functional groups on their surface, have been precisely determined.</p>
    <p class="p-content p-content-sm">As such, viruses could be commonly used in materials science as a scaffold for covalently bonded surface modifications. A special quality of viruses is that they can be modified by directed evolution. The powerful techniques developed in the life sciences are becoming the cornerstone of the engineering approach to nanomaterials, opening up a wide range of applications beyond biology and medicine.</p>


    <h3>2.Some applications</h3>

    <p class="p-content p-content-sm">Because of their easy-to-define size, shape, and chemical structure, viruses are used as prototypes to build materials at the nanoscale.</p>
    <p class="p-content p-content-sm">Recent examples include research at the US Naval Research Laboratory in Washington, DC, using cowpox mosaic virus (CPMV) particles to amplify signals in a DNA microarray-based sensor. In this application, the virus particles isolate the fluorescent dyes used for signaling to prevent the formation of dimers (dimers) that act as fluorescence quenching agents.</p>
    <p class="p-content p-content-sm">Another example is the use of CPMV as a nano-sized plug-in for molecular electronics.</p>

</section>
