<section class="small-title">
    <h2>Medical science</h2>
</section>

<section class="small-title">
    <h3>1.Một số thông tin cơ bản</h3>
    <p class="p-content p-content-sm">Cơ thể mỗi người đều được cấu tạo từ rất nhiều tập hợp các vi sinh vật, hay còn gọi là microbiome- quần thể vi khuẩn. Quá trình tiến hóa của microbiome diễn ra song song với của con người từ những thế hệ đầu tiên. Các nhà khoa học định lượng được trong mỗi quần thể microbiome ở người có đến 38 ngàn tỉ virus (không thuộc các chủng nguy hiểm như cảm cúm, cảm lạnh, Ebola, v.v). Ngoài một loại virus lây nhiễm đặc biệt hay còn gọi là thể thực bào, con người vẫn khá mù mờ về hoạt động của virus trong cơ thể.</p>
    <p class="p-content p-content-sm">Dù chiếm tỉ lệ lớn trong quần thể vi khuẩn, các quần thể virus vẫn chưa được chú ý nghiên cứu. Thậm chí, các nghiên cứu về quần thể virus vẫn còn ở mức cơ bản và tụt hậu rất xa so với nghiên cứu chung về vi khuẩn trong cơ thể. Sự tụt lùi này là do các nhà khoa học cần nhiều thời gian để nhận diện được quần thể virus, cũng như chưa có các công cụ chuẩn hóa đủ phức tạp để "giải mã" bí mật về thể virus.</p>
    <p class="p-content p-content-sm">Dù được bao quanh bởi các thể thực bào, hệ vi khuẩn trong cơ thể người không hề "hòa hợp" với chúng mà còn phát triển các hệ thống để tránh tiếp xúc và bị lây nhiễm bởi thể thực bào. Các hệ thống này được gọi là CRISPR-Cas, hiện nay được con người ứng dụng trong công nghệ chỉnh sửa gen. Khi tiếp cận được vi khuẩn, thể thực bào sẽ xâm nhập vào cấu trúc tế bào, ép vi khuẩn tạo ra nhiều thể thực bào hơn. Xong việc, virus thực bào sẽ rút ra khỏi tế bào và giết chết vi khuẩn. Có thể nói, nhiệm vụ của thể thực bào trong cơ thể chính là rình vi khuẩn xuất hiện.
    </p>
    <figure>
        <p class="p-img"><img src="img/vtvr.png"></p> <figcaption>Virus thực bào sẽ xâm nhập và đưa thông tin di truyền vào trong tế bào vi khuẩn. Vi khuẩn sẽ “đọc” các hướng dẫn di truyền và sản sinh thêm nhiều virus rồi bị tiêu diệt khi virus ra khỏi tế bào.</figcaption>
    </figure>
    <p class="p-content p-content-sm">Các nghiên cứu đã cho thấy virus hiện hữu khắp mọi nơi trên cơ thể người, từ trong ra ngoài, trong máu, da, thận, tim, phổi, v.v. Virus có tính lây lan rất cao và có thể được truyền từ những người, vật sống chung với nhau. Ví dụ, virus trong cơ thể một người có thể lây truyền sang chồng/vợ, bạn cùng phòng, thâm chí cả thú cưng của người đó.
    </p>
    <h3>2.Virus có giúp ta khỏe mạnh?</h3>
    <p class="p-content p-content-sm">Nghe có vẻ ngược đời nhưng gây tổn thương hệ virus có thể dẫn đến những hậu quả sức khỏe xấu. Khi các hệ vi khuẩn trong cơ thể có nguy cơ bị các tác nhân có hại như mầm bệnh xâm nhập, các virus thể thực bào sẽ xuất hiện và giết chết các vi khuẩn có hại trên. Có nghĩa là các virus này, thay vì gây hại cho con người, lại bảo vệ chúng ta khỏi bệnh tật.</p>
    <p class="p-content p-content-sm">Do đó, mục tiêu trước mắt của khoa học là tìm ra các virus vừa có tác dụng bảo vệ cơ thể, vừa bảo toàn các vi khuẩn có lợi.</p>
    <p class="p-content p-content-sm">Bên cạnh đó, người ta đã từng giới thiệu liệu pháp thể thực bào: tối ưu hóa các virus thực bào giúp điều trị các bệnh lây nhiễm nguy hiểm có mầm bệnh kháng kháng sinh. Song muốn đưa liệu pháp này vào thực tiễn, các nhà khoa học vẫn cần bổ sung cho nguồn thông tin còn ít ỏi hiện nay về virus. Tuy nhiên, chắc chắn virus sẽ có vai trò vô cùng quan trọng với nghiên cứu y tế trong tương lai.</p>
    <h3>3.Ứng dụng của virus trong thực tiễn.</h3>
            <h4>Trong y học</h4>
            <p class="p-content p-content-sm">Một số phagơ (ví dụ : phagơ lamda ) chứa các đoạn gen không thật sự quan trọng, nêu có cắt đi thì cũng không ảnh hưởng đến quá trình nhân lên của chúng.
            </p>
            <p class="p-content p-content-sm">Lợi dụng tính chất này, người ta cắt bỏ các gen đó để thay bằng các gen mong muốn và biến chúng thành vật vận chuyển gen lí tưởng.
            </p>
            <p class="p-content p-content-sm">Ứng dụng : sản xuất interferon, thuốc kháng sinh, vaccine..
            </p>
            <p class="p-content p-content-sm">Inteferon là protein đặc biệt do nhiều loại tế bào tiết ra, có khả năng chống virut, chống tế bào ung thư và tăng cường khả năng miễn dịch. Trước đây inteferon được sản xuất bằng cách chiết xuất từ tế bào bạch cầu người, nên lượng thu được rất thấp và có giá thành cao. Ngày nay, bằng kĩ thuật di truyền có thể sản xuất intefêron với số lượng lớn nên giá thành hạ
            </p>
</section>

</div>