<section class="small-title ng-scope">
    <h2>Medical science</h2>
</section>

<section class="small-title ng-scope">
    <h3>1.Some basic information</h3>
    <p class="p-content p-content-sm">Everyone's body is made up of many collections of microorganisms, also known as microbiome - populations of bacteria. The evolution of the microbiome has paralleled that of humans since the first generations. Scientists have estimated that in each human microbiome population there are up to 38 trillion viruses (not from dangerous strains such as flu, cold, Ebola, etc.). Apart from a particular infectious virus known as a phagocytosis, humans are still quite ignorant about how viruses work in the body.</p>
    <p class="p-content p-content-sm">Despite making up a large proportion of the bacterial population, the viral populations have not been studied. Even so, studies on viral populations are still at a basic level and lag far behind the general study of bacteria in the body. This lag is due to the fact that scientists need a long time to identify the virus population, as well as the lack of standardized tools complex enough to "decipher" the secret of the virus.</p>
    <p class="p-content p-content-sm">Although surrounded by phagocytes, the human microbiota does not "harmonize" with them, but develops systems to avoid contact and infection by phagocytes. These systems, called CRISPR-Cas, are now being used by humans in gene editing technology. When reaching the bacteria, the phagocytosis will penetrate the cell structure, forcing the bacteria to produce more phagocytosis. When done, the phagocytic virus will withdraw from the cell and kill the bacteria. It can be said that the task of phagocytosis in the body is to wait for bacteria to appear.
    </p>
    <figure>
        <p class="p-img"><img src="img/vtvr.png"></p> <figcaption>The phagocytic virus will invade and insert genetic information into the bacterial cell. The bacteria "read" the genetic instructions and produce more viruses that are destroyed when the virus leaves the cell.</figcaption>
    </figure>
    <p class="p-content p-content-sm">Studies have shown that the virus is present everywhere in the human body, inside and out, in the blood, skin, kidneys, heart, lungs, etc. The virus is highly contagious and can be transmitted from person to person. animals that live together. For example, a virus in a person's body can be transmitted to his or her spouse, roommate, or even pets.
    </p>
    <h3>2. Viruses keep us healthy?</h3>
    <p class="p-content p-content-sm">It sounds counterintuitive, but damaging the viral system can lead to bad health consequences. When the bacterial systems in the body are at risk of being invaded by harmful agents such as pathogens, phagocytic viruses will appear and kill these harmful bacteria. This means that these viruses, instead of harming people, protect us from disease.</p>
    <p class="p-content p-content-sm">Therefore, the immediate goal of science is to find viruses that both protect the body and preserve beneficial bacteria.</p>
    <p class="p-content p-content-sm">In addition, phagocytosis therapy has been introduced: optimizing phagocytic viruses to help treat dangerous infections with antibiotic-resistant pathogens. But to put this therapy into practice, scientists still need to supplement the current meager information about the virus. However, it is certain that viruses will play an important role in future medical research.</p>
    <h3>3. Application of viruses in practice.</h3>
            <h4>In medicine</h4>
            <p class="p-content p-content-sm">Some phages (eg, lamda phage) contain fragments of genes that are not really important, and even if they are removed, they will not affect their replication.
            </p>
            <p class="p-content p-content-sm">Taking advantage of this property, people cut out those genes to replace them with desired genes and make them ideal gene carriers.
            </p>
            <p class="p-content p-content-sm">Application: production of interferon, antibiotics, vaccines..
            </p>
            <p class="p-content p-content-sm">Inteferon is a special protein secreted by many types of cells, which has anti-virus, anti-cancer and immune-enhancing properties. Previously, interferon was produced by extracting human white blood cells, so the amount obtained was very low and the cost was high. Today, by genetic engineering, it is possible to produce interferon in large quantities, so the cost is low
            </p>
</section>

