
    <section class="small-title">
        <h2>MERS-CoV: Nguồn gốc, đường lây truyền, cách nhận biết và điều trị</h2>
        <p class="head">Cập nhật ngày 26 tháng 2 năm 2022</p>
        <p class="p-content p-content-sm">MERS là chữ viết tắt của cụm từ Middle East Respiratory Syndrome, tạm dịch là “Hội chứng hô hấp Trung Đông” xảy ra vào năm 2012, gây ra suy hô hấp cấp dẫn tới tử vong ở nhiều nước trên thế giới. MERS có thể lây từ người sang người, đặc biệt tại vùng dịch, trong môi trường bệnh viện và các cơ sở chăm sóc sức khỏe khác.</p>
    </section>
    <section class="small-title">
        <h2>1. Bệnh MERS xuất hiện khi nào?</h2>

        <p class="p-content p-content-sm">
            Tính từ tháng 6 năm 2012 tới 30 tháng 6 năm 2019, đã có 2449 trường hợp được xác định dương tính với virus MERS-CoV gây hội chứng hô hấp Trung Đông. Trong đó, có tới 84% các trường hợp được ghi nhận tại <a class="map" href="https://goo.gl/maps/NLmoywyMnfXyosij9"><img src="img/icons8-google-maps-20.png" height="20" width="20"> Ả rập Xê-út</a>. MERS-CoV đã lây lan ra 27 quốc gia thuộc khu vực Trung Đông, Bắc Phi, Châu Âu, Châu Á và Mỹ. Tới thời điểm báo cáo tháng 1 năm 2019, trên toàn thế giới đã có tổng số 845 ca tử vong do MERS, chiếm 34,5% số ca nhiễm bệnh.

        </p>
    </section>
    <section class="small-title">
        <h2>2. Đặc tính virus, nguồn gốc, độc lực</h2>
        <p class="p-content p-content-sm">
            Virus MERS-CoV, thuộc họ Coronaviridae, có khả năng lây nhiễm và gây bệnh cho người, động vật có vú và một số loài chim. Virus gây dịch MERS được xác định là chủng coronavirus mới có khả năng gây bệnh viêm đường hô hấp cấp tiến triển nhanh chóng trên người, đặc biệt ở người già và trẻ nhỏ, những người có thể trạng yếu hoặc đang mắc các bệnh mãn tính khác. MERS-CoV được xác định là khác tất cả các chủng coronavirus đã được tìm thấy ở người, và cũng khác so với chủng SARS-CoV gây dịch SARS năm 2002-2003. Tuy nhiên, tương tự như SARS-CoV, MERS-CoV cũng có nguồn gốc từ dơi lây nhiễm sang người qua động vật trung gian là lạc đà.
        </p>
        <figure>
            <p class="img"><img src="img/MERS.png" height="369" width="512"></p> <figcaption>Coronavirus gây bệnh MERS với các protein hình vương miện trên bề mặt</figcaption>
        </figure>
    </section>
    <section class="small-title">
        <h2>3. Các triệu trứng được ghi nhận</h2>
        <p class="p-content p-content-sm">Rất nhiều trường hợp được xác định dương tính với MERS-CoV đã tiến triển nhanh thành các bệnh đường hô hấp nghiêm trọng, đặc biệt gây viêm phổi nặng. Các triệu chứng gồm có sốt, ho và khó thở. Ngoài ra cũng có thể có nhiều triệu trứng đã được báo ở một vài trường hợp gồm đau và nhức mỏi cơ, tiêu chảy, nôn mửa.</p>
        <p class="p-content p-content-sm">Ghi nhận một số trường hợp được xác định dương tính, tuy nhiên không có biểu hiện triệu chứng của bệnh do MERS-CoV hoặc chỉ biểu hiện triệu chứng ở mức độ nhẹ. Các trường hợp này đã được chỉ định kiểm tra do có tiếp xúc gần với các trường hợp bệnh nặng.</p>
    </section>
    <section class="small-title">
        <h2>4. Đường lây truyền</h2>
        <p class="p-content p-content-sm">Đã có các bằng chứng cho thấy, MERS-CoV có nguồn gốc ban đầu từ dơi, đã lây nhiễm sang người thông qua lạc đà. Một nhóm các nhà nghiên cứu đa quốc gia gồm Đức, Anh, Nga và Ả rập Xê-út đã tìm thấy MERS-CoV tồn tại ở gần 23% nhóm lạc đà nghiên cứu tại Ả rập Xê-út, cho thấy tỉ lệ xuất hiện virus cao và nguy cơ cao đối với những người chăm sóc lạc đà. Nhóm nghiên cứu cũng tìm ra rằng, MERS-CoV xuất hiện nhiều hơn ở nhóm lạc đà có nguồn gốc nội địa Ả rập Xê-út, so với nhóm lạc đà có nguồn gốc nhập khẩu từ châu Phi (Azhar 2014; El-Kafrawy 2019).</p>
        <p class="p-content p-content-sm">Do vậy, WHO đã đưa ra khuyến cáo về việc lây nhiễm MERS-CoV từ lạc đà sang người ở bán đảo Ả rập với nguy cơ lây nhiễm từ người sang người, chủ yếu trong bệnh viện hoặc cơ sở y tế khác, chủ yếu ở Ả rập Xê-út vẫn tiếp tục diễn ra. Ngoài ra, tồn tại nguy cơ lây lan ra cộng đồng thông qua các hoạt động thông thương, du lịch giữa các nước trong khu vực và trên thế giới. Chưa có bằng chứng rõ ràng cho việc virus có thể lây nhiễm từ người bị nhiễm nhưng chưa có biểu hiện bệnh sang cho người lành.</p>
        <figure>
            <p class="img"><img src="img/lạcđà.png" height="369" width="512"></p> <figcaption>Lạc đà, động vật trung gian truyền MERS-CoV sang người</figcaption>
        </figure>
    </section>
    <section class="small-title">
        <h2>5. Chẩn đoán và điều trị</h2>
        <p class="p-content p-content-sm"><strong>Chẩn đoán qua triệu chứng lâm sàng (theo hướng dẫn của Bộ Y tế):</strong></p>
        <ul>
            <li class="nd">Triệu chứng khởi phát thường gặp là sốt, ho, ớn lạnh đau họng, đau cơ, nhức mỏi xương khớp. Sau đó bệnh nhân xuất hiện khó thở và tiến triển nhanh tới viêm phổi.</li>
            <li class="nd">Khoảng 1/3 số bệnh nhân có các triệu chứng tiêu hóa như nôn và tiêu chảy.</li>
            <li class="nd">Một nửa số bệnh nhân tiến triển nhanh thành viêm phổi và 10% sẽ tiến triển thành hội chứng <strong>suy hô hấp cấp tính (ARDS).</strong></li>
            <li class="nd">Kết quả chụp X-quang ngực có hình ảnh phù hợp với viêm phổi do virus và ARDS.</li>
            <li class="nd">Xét nghiệm công thức máu thường thấy giảm bạch cầu, đặc biệt là giảm bạch cầu lympho.</li>
        </ul>
        <p class="p-content p-content-sm"><strong>Ca bệnh nghi ngờ:</strong></p>
        <ul>
            <li class="nd">Di chuyển tới vùng dịch tễ hoặc sống trong vùng dịch tễ có người mắc MERS-CoV khoảng 10 ngày trước khi xuất hiện triệu chứng.</li>
            <li class="nd">Có tiếp xúc gần với những ca bệnh xác định/có thể.</li>
            <li class="nd">Bệnh nhân có biểu hiện nhiễm trùng đường hô cấp cấp, gồm sốt trên 38 độ C, ho, khó thở, có tổn thương nhu mô phổi, viêm phổi hoặc hội chứng suy hô hấp cấp tiến triển (ARDS) dựa trên lâm sàng hoặc hình ảnh chụp X-quang.
            </li>
            <li class="nd">Không lý giải được bằng các bệnh nhiễm trùng hoặc căn nguyên khác, bao gồm tất cả các trường hợp có chỉ định xét nghiệm để chẩn đoán viêm phổi cộng đồng.</li>
        </ul>
        <p class="p-content p-content-sm"><strong>Ca bệnh có thể:</strong></p>
        <ul>
            <li class="nd">Người tiếp xúc trực tiếp với ca bệnh đã được chẩn đoán xác định bằng xét nghiệm, bao gồm những người chăm sóc bệnh nhân; nhân viên y tế hoặc các thành viên trong gia đình; những người sống chung với bệnh nhân hoặc đến thăm bệnh nhân trong thời gian có biểu hiện bệnh.</li>
            <li class="nd">Bệnh nhân có các dấu hiệu lâm sàng, XQ hoặc xét nghiệm giải phẫu bệnh của bệnh lý nhu mô phổi (ví dụ như viêm phổi hoặc ARDS) phù hợp với định nghĩa về ca bệnh ở trên, nhưng không được khẳng định bằng xét nghiệm bởi vì: không lấy được mẫu bệnh phẩm, hoặc không làm được xét nghiệm để chẩn đoán căn nguyên nhiễm trùng hô hấp khác.</li>
            <li class="nd">Không lý giải được do các nhiễm trùng khác hoặc căn nguyên khác.</li>
        </ul>
        <p class="p-content p-content-sm"><strong>Ca bệnh xác định:</strong></p>
        <ul>
            <li class="nd">Là ca bệnh có biểu hiện lâm sàng như đã nêu trên và được khẳng định bằng xét nghiệm PCR dương tính với <strong>virus corona</strong> mới.</li>
            <li class="nd">Kỹ thuật xác định <strong>Virus Corona</strong> là kỹ thuật Real time RT – PCR với bệnh phẩm là dịch đường hô hấp, đờm, dịch nội khí quản được lấy theo đúng quy trình và bảo quản trong môi trường phù hợp. Lưu ý: Đối với các trường hợp đầu tiên nghi nhiễm vi rút corona mới, các đơn vị cần lưu mẫu và chuyển mẫu đến các cơ sở xét nghiệm được Bộ Y tế cho phép khẳng định.</li>
        </ul>
        <p class="p-content p-content-sm"><strong>Chẩn đoán phân biệt:</strong></p>
        <p class="p-content p-content-sm">Bệnh cảnh lâm sàng do Mers-CoV gây ra gồm nhiều triệu chứng khác nhau, nhưng chủ yếu là suy hô hấp cấp và suy thận cấp, vì vậy cần phải phân biệt với các trường hợp sau:</p>
        <ul>
            <li class="nd">Cúm nặng (cúm A/H1N1 hoặc A/H5N1.....).</li>
            <li class="nd">Viêm phổi không điển hình.</li>
            <li class="nd">Nhiễm trùng huyết gây suy thận và suy hô hấp.</li>
        </ul>
        <p class="p-content p-content-sm"><strong>Điều trị</strong></p>
        <p class="p-content p-content-sm">Với các ca bệnh nghi ngờ hoặc có thể đều phải được khám tại bệnh viện, được làm xét nghiệm đặc hiệu để chẩn đoán xác định nguy cơ lây nhiễm MERS-CoV. Với các ca bệnh đã xác định nhiễm MERS-CoV, cần phải nhập viện theo dõi và cách ly hoàn toàn. Chưa có thuốc điều trị đặc hiệu, vì vậy chủ yếu chỉ điều trị triệu chứng, phát hiện và xử lý kịp thời tình trạng suy hô hấp, suy thận.</p>
    </section>


