
    <section class="small-title">
        <h2>Route of Infection</h2>
    </section>
        <p class="p-content p-content-sm">
            Viruses infect all cell lives and, although viruses occur universally, each cell species has its own specific range that usually infects only that species. [230] Some viruses, called satellites, can only replicate in cells already infected with other viruses.
        </p>
        <section class="small-title">
            <h3>1.Animal virus</h3>
            <p class="p-content p-content-sm">
                Viruses are important pathogens of livestock. Diseases such as foot-and-mouth disease and bullous disease are caused by viruses. [231] Unvaccinated companion animals such as cats, dogs, and horses are susceptible to serious viral infections.
            </p>

            <p class="p-content p-content-sm">
                Canine parvovirus is caused by a small DNA virus and often fatal infection in rat pups. [232] Like all invertebrates, honey bees are susceptible to many viruses. [233] Most viruses co-exist harmlessly in their hosts and cause no signs or symptoms of illness.
            </p>

            <h3>2.Plant virus</h3>
            <p class="p-content p-content-sm">
                There are many types of plant viruses, but they often only reduce yield and are not economically viable to try to control them. Plant viruses are often spread by organisms from one plant to another, known as vectors.
            </p>
            <p class="p-content p-content-sm">
                These are usually insects, but some fungi, roundworms, protozoa, and parasitic plants are vectors. [234] When the control of plant virus infections is considered economic, for example, for perennial fruits, efforts are focused on killing vectors and eliminating alternative hosts. like weeds. [235] Plant viruses cannot infect humans and other animals because they can only reproduce in living plant cells.
            </p>
            <p class="p-content p-content-sm">
                Plants have complex and effective defense mechanisms against viruses. One of the most effective is the presence of the so-called resistance (R) gene. Each R gene confers resistance to a specific virus by activating localized areas of cell death around infected cells, which are usually visible to the naked eye as large spots. This prevents the spread of infection. [239] RNA interference is also an effective defense in plants. [240] When infected, plants often produce natural disinfectants to kill viruses, such as salicylic acid, nitric oxide, and reactive oxygen molecules.
            </p>
            <h3>2.Plant virus</h3>
            <p class="p-content p-content-sm">
                Bacteria are a widespread and diverse group of viruses and the most abundant biological entity in aquatic environments — ten times more numerous in the ocean than bacteria, [243] reaching 250,000 000 bacteria per milliliter of seawater. [244] These viruses infect specific bacteria by binding to receptor molecules on the surface and then entering the cell.
            </p>
            <p class="p-content p-content-sm">
                These are usually insects, but some fungi, roundworms, protozoa, and parasitic plants are vectors. [234] When the control of plant virus infections is considered economic, for example, for perennial fruits, efforts are focused on killing vectors and eliminating alternative hosts. like weeds. [235] Plant viruses cannot infect humans and other animals because they can only reproduce in living plant cells.
            </p>
            <p class="p-content p-content-sm">
                Plants have complex and effective defense mechanisms against viruses. One of the most effective is the presence of the so-called resistance (R) gene. Each R gene confers resistance to a specific virus by activating localized areas of cell death around infected cells, which are usually visible to the naked eye as large spots. This prevents the spread of infection. [239] RNA interference is also an effective defense in plants. [240] When infected, plants often produce natural disinfectants to kill viruses, such as salicylic acid, nitric oxide, and reactive oxygen molecules.
            </p>
            <p class="p-content p-content-sm">
                The main way that bacteria defend themselves from bacteria is by producing enzymes that destroy foreign DNA. These enzymes, called restriction endonucleases, cut the viral DNA that the phage injects into the bacterial cell. [246] The bacteria also contain a system that uses CRISPR sequencing to retain fragments of the viral genome to which the bacteria have been exposed in the past, allowing them to block viral replication through a pattern RNA interference modality. [247] [248] This genetic system provides the bacteria with acquired immunity to fight infection.
            </p>



        </section>

