
    <section class="small-title">
        <h2>Bệnh Rubella</h2>
        <p class="head">Cập nhật ngày 26 tháng 2 năm 2022</p>
        <p class="p-content p-content-sm">
            Rubella hay còn gọi là sởi Đức là một bệnh truyền nhiễm do virus rubella gây nên. Phần lớn bệnh ở mức độ nhẹ, tuy nhiên phụ nữ mang thai bị nhiễm Rubella có thể dẫn tới các biến chứng nguy hiểm như sảy thai, thai chết lưu hay gây ra các dị tật bẩm sinh cho thai nhi.
        </p>
    </section>
    <section class="small-title">
        <h2>1. Nguyên nhân và đường lây bệnh Rubella</h2>
        <p class="p-content p-content-sm">
            Bệnh do virus Rubella gây ra, đây là virus chứa ARN, thuộc họ togavirus. Bệnh Rubella thường phát triển mạnh vào mùa xuân. Con đường lây truyền qua đường hô hấp, virus Rubella cư trú tại vòm họng và các hạch bạch huyết. Khi người lành tiếp xúc trực tiếp với chất nhầy của mũi/họng hay các giọt bắn khi người bệnh ho, hắt xì hơi thì có thể bị bệnh. Giai đoạn dễ lây nhiễm bệnh Rubella là từ 7 ngày trước đến 7 ngày sau khi phát ban đỏ.
        </p>
        <p class="p-content p-content-sm">
            Mọi người đều có thể là đối tượng cảm nhiễm Rubella. Người phơi nhiễm với virus Rubella sẽ mắc bệnh nếu như chưa có miễn dịch với virus Rubella, không có trường hợp người lành mang virus.
        </p>
    </section>
    <section class="small-title">
        <h2>2. Triệu chứng bệnh Rubella</h2>
        <figure>
            <p class="img"><img src="img/rubella1.png" height="369" width="512"></p> <figcaption>Phát ban đỏ trên cơ thể</figcaption>
        </figure>
        <p class="p-content p-content-sm">
            Ban lúc đầu xuất hiện ở trên đầu, mặt, rồi mọc khắp toàn thân nhưng thường không tuần tự như bệnh sởi
        </p>
        <p class="p-content p-content-sm">
            Bệnh Rubella thường nhẹ, các triệu chứng bệnh Rubella thường xuất hiện từ ngày 16-18 sau khi phơi nhiễm. Có biểu hiện tương tự như bệnh cúm. Các triệu chứng thường gặp bao gồm:
        </p>
        <ul>
            <li class="nd">Sốt: Người bệnh thường có biểu hiện sốt nhẹ, khoảng 38 độ C, kèm nhức đầu, mệt mỏi, đau rát vùng họng, chảy nước mũi trong, thường từ 1-4 ngày, sau khi phát ban thì sốt giảm.</li>
            <li class="nd">Nổi hạch ở vùng chẩm, cổ, bẹn, ấn đau. Hạch xuất hiện trước khi phát ban, tồn tại vài ngày sau khi ban bay hết.</li>
            <li class="nd">Phát ban: Ban lúc đầu xuất hiện ở trên đầu, mặt, rồi mọc khắp toàn thân nhưng thường không tuần tự như bệnh sởi. Đặc điểm của ban là màu hồng hoặc hơi đỏ, hình tròn hoặc hình bầu dục, kích thước 1-2mm, ngứa, thường kéo dài khoảng 3 ngày sau đó biến mất để lại nốt thâm trên da.</li>
            <li class="nd">Ngoài ra có thể đau khớp, viêm kết mạc.</li>
        </ul>
        <p class="p-content p-content-sm">Tuy nhiên có khoảng 50% trường hợp không có những biểu hiện lâm sàng điển hình khiến người bệnh nhầm tưởng triệu chứng bệnh Rubella với các bệnh khác.</p>
    </section>
    <section class="small-title">
        <h2>3. Biến chứng bệnh Rubella với phụ nữ có thai</h2>
        <p class="p-content p-content-sm">Rubella thường là bệnh nhẹ, thường khỏi bệnh mà không để lại biến chứng. Tuy nhiên với phụ nữ đang mang thai, bệnh lại gây ra nhiều biến chứng bệnh Rubella nguy hiểm đặc biệt trong 3 tháng đầu của thai kỳ như sảy thai, thai chết lưu hoặc gây ra các dị tật bẩm sinh cho thai nhi như chứng đầu nhỏ, chậm phát triển tâm thần vận động, điếc, mù lòa, bệnh tim (hội chứng Rubella bẩm sinh). Ngoài ra, trẻ sinh ra từ những bà mẹ nhiễm bệnh Rubella còn có thể bị vàng da, xuất huyết, đái tháo đường, lách to, xương thủy tinh...</p>
        <p class="p-content p-content-sm">Hội chứng Rubella bẩm sinh có thể gặp ở 70-90% trẻ sơ sinh được sinh ra từ những bà mẹ nhiễm bệnh Rubella trong 3 tháng đầu của thai kỳ (virus Rubella trong máu mẹ → nhau thai nhiễm virus → phôi thai bị nhiễm bệnh). Do đó, tất cả phụ nữ trước khi quyết định mang thai nên làm xét nghiệm để xác định đã có miễn dịch với Rubella.</p>
        <p class="p-content p-content-sm">Biến chứng bệnh Rubella nguy hiểm đặc biệt trong 3 tháng đầu của thai kỳ như sảy thai, thai chết lưu hoặc gây ra các dị tật bẩm sinh cho thai nhi.</p>

        <figure>
            <p class="img"><img src="img/rubella2.png" height="369" width="512"></p> <figcaption>Biến chứng bệnh Rubella nguy hiểm đặc biệt trong 3 tháng đầu của thai kỳ như sảy thai, thai chết lưu hoặc gây ra các dị tật bẩm sinh cho thai nhi</figcaption>
        </figure>
    </section>
    <section class="small-title">
        <h2>4. Cách phòng ngừa bệnh Rubella</h2>
        <p class="p-content p-content-sm">Rubella không có thuốc điều trị đặc hiệu, do đó tiêm vắc xin là biện pháp phòng tránh bệnh tốt nhất. Các biện pháp phòng ngừa bệnh Rubella bao gồm:</p>
        <ul>
            <li class="nd">Tiêm phòng vắc xin rộng rãi cho trẻ từ 12-24 tháng tuổi.</li>
            <li class="nd">Tác dụng phụ thường gặp sau khi tiêm vắc xin: Sốt phát ban, nổi hạch, tăng bạch cầu đa nhân, đau khớp.</li>
            <li class="nd">Với những phụ nữ có ý định mang thai nên chủ động đi xét nghiệm xác định có miễn dịch với Rubella hay chưa, nếu chưa có nên tiêm phòng vắc xin ít nhất 1-3 tháng trước khi mang thai. Khi có thai không nên tiêm vắc xin vì nó có thể đi qua nhau thai và nhiễm cho thai nhi.</li>
            <li class="nd">Phụ nữ trong thời kỳ mang thai cần hạn chế tiếp xúc với những người bị sốt, phát ban hay với trẻ mắc Rubella bẩm sinh. Khi có những biểu hiện như sốt, phát ban, nổi hạch trong thời kỳ mang thai, đặc biệt trong 3 tháng đầu cần đến các cơ sở y tế chuyên khoa để được khám, chẩn đoán và tư vấn.</li>
            <li class="nd">Chống chỉ định tiêm vắc xin Rubella cho những người mắc bệnh suy giảm miễn dịch, thận trọng với bệnh nhân có tiền sử dị ứng nặng với gelatin, thuốc neomycin hoặc các lần tiêm vắc xin trước, người đang sốt.</li>
        </ul>
        <p class="p-content p-content-sm">Bệnh Rubella hoàn toàn có thể phòng ngừa và điều trị dứt điểm. Khi có những biểu hiện mắc bệnh, hãy bình tĩnh tìm hiểu nguyên nhân và tham khảo ý kiến bác sĩ để quá trình điều trị bệnh Rubella diễn ra thuận lợi, nhanh chóng.</p>
    </section>

    <br>

