
    <section class="small-title">
        <h2>Virus gây bệnh đậu mùa</h2>
        <p class="head">Cập nhật ngày 26 tháng 2 năm 2022</p>
        <p class="p-content p-content-sm">Bệnh đậu mùa là một bệnh truyền nhiễm cấp tính do virus Variola gây ra, bệnh đậu mùa là loại bệnh dễ gây thành dịch lớn, tỷ lệ tử vong cao. Đây là một trong các bệnh truyền nhiễm duy nhất đã được loại trừ trên toàn cầu. Người ta cho rằng bệnh đậu mùa xuất hiện lần đầu vào năm 1156 trước Công nguyên ở thời Ai Cập cổ đại. Căn bệnh này đã giết chết hàng triệu người và gây mù lòa ở hàng triệu người khác. Đến thế kỷ 19-20, với chiến dịch tiêm chủng toàn cầu, thế giới đã loại trừ được căn bệnh này.</p>
    </section>
 
    <section class="small-title">
        <h2>1. Tổng quan bệnh  đậu mùa</h2>
        <p class="p-content p-content-sm">Bệnh đậu mùa là một bệnh truyền nhiễm cấp tính do virus variola gây nên, bệnh được đặc trưng bởi sốt, phát ban và có tỷ lệ tử vong cao. Từ năm 1979, trên toàn cầu đã công bố xóa sổ bệnh đậu mùa, đánh dấu một trong những thành tựu vĩ đại nhất của y học hiện đại.</p>
        <p class="p-content p-content-sm">Bệnh đậu mùa xảy ra với hai thể: Thể bệnh nặng do variola, là một thể bệnh nghiêm trọng với tỷ lệ tử vong từ 30- 50 % ở người chưa được chủng ngừa, và thể bệnh nhiễm trùng nhẹ hơn với tỷ lệ tử vong dưới 1%. Hai dạng này là do các chủng vi rút variola khác nhau gây ra.</p>
        <p class="p-content p-content-sm">Trong quá khứ, bệnh đậu mùa là bệnh đặc hữu. Ở các vùng khí hậu ôn đới, bệnh đậu mùa lưu hành vào mùa đông và mùa xuân và chủ yếu và là bệnh của trẻ em và thanh niên. Có ít biến động theo mùa hơn ở các vùng khí hậu nhiệt đới, tuy nhiên, ở những vùng có mùa nóng (độ ẩm cao) và mùa mát (độ ẩm thấp) rõ rệt, tỷ lệ mắc bệnh đậu mùa luôn cao hơn nhiều vào mùa khô, mát.</p>
        <figure>
            <p class="img"><img src="img/Variola1.png" height="369" width="512"></p> <figcaption>Bệnh đậu mùa thường gặp ở trẻ nhỏ</figcaption>
        </figure>
    </section>
    <section class="small-title">
        <h2>2.Nguyên nhân bệnh Bệnh đậu mùa</h2>
        <p class="p-content p-content-sm">Virus Variola thuộc dòng orthopoxvirus, thuộc họ Poxviridae. Virus Variola là một loại virus DNA lớn (200 đến 400 nm) thiếu đối xứng hai mặt, không giống như hầu hết các virus DNA khác. Virus có cấu trúc phức tạp với màng ngoài, hai thể bên và lõi hình quả tạ chứa một phân tử đơn DNA sợi kép. Toàn bộ bộ gen 186.000 cặp bazơ đã được giải trình tự.</p>
        <p class="p-content p-content-sm">Vào những năm 1800, một dạng bệnh đậu mùa nhẹ hơn đã được ghi nhận ở châu Mỹ, sau đó được xác định là thể bệnh nhẹ do virus variola. Việc xác định trình tự của virus đã chỉ ra rõ ràng đây là một chủng virus variola khác, những thay đổi trong biểu hiện gen khác biệt có thể giải thích sự khác biệt về độc lực. Các xét nghiệm chẩn đoán mới hiện có thể phân biệt hai chủng virus.
        </p>

    </section>
    <section class="small-title">
        <h2>3.Triệu chứng bệnh Bệnh đậu mùa</h2>
        <p class="p-content p-content-sm">Như đã đề cập ở trên, bệnh đậu mùa xảy ra ở 2 thể bệnh: Bệnh variola thể nặng, là một nhiễm trùng nghiêm trọng và thể bệnh nhẹ, là một bệnh nhiễm trùng nhẹ hơn. Tuy nhiên, hai bệnh nhiễm trùng không thể được phân biệt trên lâm sàng ở một bệnh nhân riêng lẻ. Các kỹ thuật chẩn đoán phân tử hiện đại có khả năng phân biệt giữa hai chủng variola.</p>
        <p class="p-content p-content-sm">Bệnh đậu mùa được phân thành 5 thể lâm sàng, liên quan đến mức độ nghiêm trọng khác nhau của bệnh. Nói chung, bệnh đậu mùa nghiêm trọng nhất ở trẻ sơ sinh, người lớn tuổi và những người suy giảm miễn dịch, bệnh nhẹ hơn ở những người đã được chủng ngừa.</p>

        <p class="p-content p-content-sm"><strong>I. Thể thông thường</strong></p>
        <ul>
            <li class="nd">Thời gian ủ bệnh là 10 đến 14 ngày (khoảng 7 đến 19 ngày).</li>
            <li class="nd">Giai đoạn đầu, kéo dài từ hai đến bốn ngày, được đặc trưng bởi sự khởi đầu đột ngột của sốt cao, đau đầu dữ dội, nôn mửa, tiêu chảy, đau lưng và mệt mỏi.</li>
            <li class="nd">Giai đoạn toàn phát được đặc trưng bởi các tổn thương trên màng nhầy (enanthem), sau đó khoảng 24 giờ là phát ban trên da (exanthem). Tổn thương trong miệng đầu tiên xuất hiện dưới dạng sẩn, sau đó là mụn nước trên lưỡi và vòm họng. Sự lây lan của exanthem là theo hướng ly tâm, ban đầu ở khuôn mặt, sau đó là các chi gần, thân và các chi xa. Các nốt ban tiến triển thành sẩn vào ngày thứ 2, mụn nước vào ngày thứ 4 đến ngày thứ 5 và mụn mủ vào ngày thứ 7. Sốt đôi khi tái phát trong giai đoạn mụn mủ.</li>
            <li class="nd">Hơn 70% các trường hợp đậu mùa ở thể thông thường, được chia nhỏ thành ba loại tùy theo loại phát ban.</li>
        </ul>
        <p class="p-content p-content-sm"><strong>II. Thể biến đổi</strong></p>
        <p class="p-content p-content-sm">Triệu chứng của thể này cũng tương tự như thể bệnh thông thường, ngoại trừ việc các giai đoạn của phát ban phát triển nhanh chóng hơn và tổn thương mụn mủ là nhỏ hơn. Bệnh đậu mùa thể biến đổi thường gặp ở những bệnh nhân đã được tiêm chủng bị nhiễm bệnh mặc dù đã được chủng ngừa.</p>
        <figure>
            <p class="img"><img src="img/Variola2.png" height="369" width="512"></p> <figcaption>Các nốt bỏng nước li ti trên cơ thể trẻ</figcaption>
        </figure>
        <p class="p-content p-content-sm"><strong>III. Thể phẳng</strong></p>
        <p class="p-content p-content-sm">Thể này được đặc trưng bởi các mụn mủ vẫn phẳng và thường hợp lưu hoặc bán hợp lưu. Bệnh đậu mùa thể phẳng xảy ra chủ yếu ở trẻ em và thường gây tử vong.</p>
        <p class="p-content p-content-sm"><strong>IV. Thể xuất huyết</strong></p>
        <p class="p-content p-content-sm">Thể này hiếm gặp, các tổn thương da và niêm mạc trở nên xuất huyết. Các triệu chứng nghiêm trọng, suy tim, chảy máu lan tỏa và ức chế tủy xương thường dẫn đến kết quả tử vong trong vòng ba đến bốn ngày. Phụ nữ mang thai dễ mắc thể bệnh đậu mùa này. Tuy nhiên, thể bệnh đậu mùa xuất huyết rất khó nhận biết trừ khi bệnh nhân đã từng tiếp xúc với người bệnh bị bệnh đậu mùa . Ngoài ra, nhiễm vi khuẩn thứ cấp có thể góp phần vào sự phát triển của bệnh đậu mùa xuất huyết.</p>
        <p class="p-content p-content-sm"><strong>V. Thể không điển hình</strong></p>
        <p class="p-content p-content-sm">Thể này xuất hiện ở những người được tiêm chủng hoặc ở những bệnh nhân miễn dịch một phần do đã bị nhiễm bệnh trước đó. Những bệnh nhân này có sốt nhưng không phát ban. Sự gia tăng hiệu giá kháng thể sau khi sốt cho thấy những bệnh nhân đó đã bị nhiễm virus variola nhưng không phát ban.</p>
    </section>
    <section class="small-title">
        <h2>4.Các biến chứng bệnh Bệnh đậu mùa</h2>
        <p class="p-content p-content-sm">Các biến chứng khác của bệnh đậu mùa bao gồm:</p>
        <ul>
            <li class="nd">Nhiễm khuẩn thứ phát trên da.</li>
            <li class="nd">Viêm giác mạc và loét giác mạc dẫn đến mù lòa.</li>
            <li class="nd">Viêm khớp do virus và viêm tủy xương.</li>
            <li class="nd">Viêm phổi do vi khuẩn.</li>
            <li class="nd">Viêm tinh hoàn.</li>
            <li class="nd">Viêm não.</li>
        </ul>
    </section>
    <section class="small-title">
        <h2>5.Đường lây truyền của bệnh</h2>
        <p class="p-content p-content-sm">Bệnh đậu mùa chỉ có thể lây qua người. Nó chủ yếu lây lan qua đường hô hấp qua hắt hơi hoặc ho và cần có sự tiếp xúc trực tiếp khá lâu giữa người với người. Bệnh nhân đậu mùa trở nên dễ lây khi các tổn thương đầu tiên xuất hiện ở miệng và cổ họng, và khả năng lây nhiễm cao nhất khi bắt đầu phát ban. Bệnh nhân vẫn có khả năng lây nhiễm cho đến khi lớp vảy cuối cùng rụng đi.</p>
        <p class="p-content p-content-sm">Sự lây truyền cũng có thể xảy ra khi tiếp xúc với chất lỏng có trong vết loét của bệnh nhân, vì chúng cũng chứa virus variola. Virus có thể lây lan khi tiếp xúc trực tiếp với các chất lỏng này hoặc qua các đồ vật bị ô nhiễm bởi chúng, chẳng hạn như giường hoặc quần áo. Hiếm khi bệnh đậu mùa lây lan qua không khí ở những nơi kín. Trước khi bệnh đậu mùa được loại trừ, sự lây truyền thường chỉ giới hạn ở những người chưa được chủng ngừa ở chung các khu vực sinh sống.</p>
    </section>
    <section class="small-title">
        <h2>6.Đối tượng nguy cơ bệnh Bệnh đậu mùa</h2>
        <ul>
            <li class="nd">Phụ nữ có thai hoặc cho con bú.</li>
            <li class="nd"> Người có rối loạn về bệnh tự miễn, biểu hiện trên da như bệnh chàm</li>
            <li class="nd">Người bị suy giảm miễn dịch như nhiễm virus HIV/AIDS, bệnh ác tính.</li>
            <li class="nd">Người đang điều trị ức chế miễn dịch như bệnh ung thư, ghép tạng.</li>
        </ul>
    </section>
    <section class="small-title">
        <h2>7.Phòng ngừa bệnh Bệnh đậu mùa</h2>
        <p class="p-content p-content-sm">Các biện pháp phòng ngừa kiểm soát nhiễm trùng: Đối với những bệnh nhân có biểu hiện bệnh phát ban mụn nước hoặc mụn mủ toàn thân cấp tính, nên thực hiện các biện pháp phòng ngừa tiêu chuẩn thích hợp, qua đường không khí và tiếp xúc: Sử dụng mặt nạ phòng độc N95, găng tay và áo choàng được trang bị phù hợp. Nếu cần phải di chuyển bệnh nhân, nên dùng tấm che để che vết ban của bệnh nhân và sử dụng khẩu trang phẫu thuật để che miệng và mũi cho bệnh nhân.</p>
        <p class="p-content p-content-sm">Tiêm chủng: Tiêm phòng đã giúp thanh toán toàn cầu bệnh đậu mùa. Mặc dù không cần tiêm chủng thường quy cho người dân nói chung, tuy nhiên nhân viên phòng thí nghiệm, nhân viên chăm sóc sức khỏe, quân nhân vẫn cần được tiêm chủng. Ngoài ra, trong trường hợp tiếp xúc với bệnh đậu mùa, việc tiêm phòng ngay lập tức có thể làm giảm mức độ nghiêm trọng của bệnh.</p>
        <figure>
            <p class="img"><img src="img/Variola3.png" height="369" width="512"></p> <figcaption>Đưa trẻ đi tiêm phòng để ngừa các bệnh truyền nhiễm</figcaption>
        </figure>
    </section>
    <section class="small-title">
        <h2>Các biện pháp điều trị bệnh Bệnh đậu mùa</h2>
        <p class="p-content p-content-sm"><strong>I.  Chăm sóc hỗ trợ</strong></p>
        <p class="p-content p-content-sm">Phương pháp điều trị chính cho bệnh đậu mùa là chăm sóc hỗ trợ, bao gồm duy trì cân bằng nước và điện giải, chăm sóc da và theo dõi các biến chứng của nhiễm trùng.</p>
        <p class="p-content p-content-sm"><strong>II. Liệu pháp kháng virus</strong></p>
        <ul>
            <li class="nd">Tecovirimat: Là thuốc kháng virus đầu tiên được chỉ định để điều trị bệnh đậu mùa. Liều khuyến cáo của tecovirimat cho những người nặng ≥40 kg là 600 mg, uống hai lần mỗi ngày. Đối với bệnh nhi nặng từ 25 đến 40 kg, liều là 400 mg x 2 lần / ngày và trẻ em từ 13 đến 25 kg, liều là 200 mg x 2 lần / ngày. Không có khuyến nghị về liều lượng cho trẻ em cân nặng &lt;13 kg. Thời gian điều trị là 14 ngày. Các tác dụng phụ có thể gặp là nhức đầu, buồn nôn và đau bụng.</li>
            <li class="nd">Brincidofovir: Là một chất tương tự của cidofovir dùng đường uống. Liều khuyến cáo cho những người nặng ≥48 kg là 200 mg mỗi tuần một lần và uống hai liều, đối với những người có cân nặng từ ≥10 kg đến dưới 48 kg, liều là 4 mg /kg hỗn dịch uống mỗi tuần một lần uống hai liều, đối với trẻ em cân nặng dưới 10 kg, liều là 6 mg /kg hỗn dịch uống mỗi tuần một lần, chia 2 lần. Các tác dụng phụ thường gặp nhất là tiêu chảy, buồn nôn, nôn và đau bụng.</li>
        </ul>
    </section>
    <br>
