<section class="small-title">
    <h2><section class="small-title">
        <h2>Vai trò trong hệ sinh thái dưới nước</h2>
    </section>

        <section class="small-title">
            <h3>1.Vai trò trong hệ sinh thái nước là gì ?</h3>
            <p class="p-content p-content-sm">
                Virus là thực thể sinh học phong phú nhất trong môi trường nước. [2] Có khoảng mười triệu trong số chúng trong một muỗng cà phê nước biển. [254] Hầu hết các loại vi rút này là đại thực khuẩn lây nhiễm vi khuẩn dị dưỡng và vi khuẩn lam lây nhiễm vi khuẩn lam và chúng rất cần thiết cho sự điều hòa của hệ sinh thái nước mặn và nước ngọt. [255] Vi khuẩn vô hại đối với thực vật và động vật, và rất cần thiết cho việc điều hòa các hệ sinh thái biển và nước ngọt [256] là tác nhân gây tử vong quan trọng của thực vật phù du , cơ sở của chuỗi thức ăn trong môi trường nước.
            </p>

            <p class="p-content p-content-sm">
                Chúng lây nhiễm và tiêu diệt vi khuẩn trong các cộng đồng vi sinh vật dưới nước, và là một trong những cơ chế quan trọng nhất của quá trình tái chế carbon và chu trình dinh dưỡng trong môi trường biển. Các phân tử hữu cơ được giải phóng từ các tế bào vi khuẩn đã chết kích thích sự phát triển của vi khuẩn và tảo tươi, trong một quá trình được gọi là quá trình phân hủy virus .
            </p>
            <p class="p-content p-content-sm">
                Đặc biệt, vi khuẩn ly giải bằng vi rút đã được chứng minh là tăng cường chu trình nitơ và kích thích sự phát triển của thực vật phù du. [259] Hoạt động của vi rút cũng có thể ảnh hưởng đến máy bơm sinh học , quá trình theo đó carbon được cô lập trong đại dương sâu.
            </p>
            <p class="p-content p-content-sm">
                Vào tháng 1 năm 2018, các nhà khoa học đã báo cáo rằng 800 triệu vi rút, chủ yếu có nguồn gốc từ biển, được tích tụ hàng ngày từ bầu khí quyển của Trái đất lên mỗi mét vuông bề mặt hành tinh, là kết quả của một dòng vi rút trong khí quyển toàn cầu, lưu thông trên hệ thống thời tiết. nhưng dưới độ cao của du lịch hàng không thông thường, phát tán vi rút khắp hành tinh.
            </p>

            <h3>2.Môi Trường Sống </h3>
            <p class="p-content p-content-sm">
                Vi sinh vật chiếm hơn 90% sinh khối trong biển. Người ta ước tính rằng vi rút giết chết khoảng 20% ​​lượng sinh khối này mỗi ngày và số lượng vi rút trong các đại dương nhiều gấp 10 đến 15 lần so với vi khuẩn và vi khuẩn cổ. [261] Vi rút cũng là tác nhân chính gây ra sự phá hủy thực vật phù du bao gồm tảo có hại , [262] Số lượng vi rút trong các đại dương giảm dần ra xa bờ và sâu hơn vào nước, nơi có ít sinh vật chủ hơn.
            </p>


        </section>

        </div>