<section class="small-title ng-scope">
    <h2><section class="small-title">
        <h2>Role in the aquatic ecosystem</h2>
    </section>

        <section class="small-title">
            <h3>1.What is the role in the water ecosystem?</h3>
            <p class="p-content p-content-sm">
                Viruses are the most abundant biological entities in the aquatic environment. [2] There are about ten million of them in a teaspoon of seawater. [254] Most of these viruses are macrophages that infect heterotrophic bacteria and cyanobacteria that infect cyanobacteria, and they are essential for the regulation of saltwater and freshwater ecosystems. [255] Bacteria that are harmless to plants and animals, and are essential for the regulation of marine and freshwater ecosystems [256] are important contributors to phytoplankton mortality. of the aquatic food chain.
            </p>

            <p class="p-content p-content-sm">
                They infect and destroy bacteria in aquatic microbial communities, and are one of the most important mechanisms of carbon recycling and nutrient cycling in marine environments. Organic molecules released from dead bacterial cells stimulate the growth of fresh bacteria and algae, in a process known as viral degradation.
            </p>
            <p class="p-content p-content-sm">
                In particular, bacterial viral lysis has been shown to enhance nitrogen cycling and stimulate phytoplankton growth. [259] Viral activity can also affect circadian pumps, the process by which carbon is sequestered in the deep ocean.
            </p>
            <p class="p-content p-content-sm">
                In January 2018, scientists reported that 800 million viruses, mainly of marine origin, are accumulating daily from Earth's atmosphere onto every square meter of the planet's surface, a result. The result of a global atmospheric strain of viruses circulating in the weather system. but under the height of conventional air travel, spreading the virus across the planet.
            </p>

            <h3>2.Living Environment</h3>
            <p class="p-content p-content-sm">
                Microorganisms account for more than 90% of the biomass in the sea. It is estimated that viruses kill about 20% of this biomass per day, and there are 10 to 15 times more viruses in the oceans than bacteria and archaea. [261] Viruses are also a major contributor to the destruction of phytoplankton including harmful algae, [262] Virus numbers in the oceans gradually decrease farther from shore and deeper into water, where there are few more host organism.
            </p>


        </section>

    